.c-section--about{
  padding: 8.5625rem 0 3.4375rem;
  background-color: var(--color-primary-r);
  @include mq(md){
    padding: 13.1875rem 0 2.5rem;
  }
  .c-pattern{
    &.is-hero-pattern{
      top: -40px;
      @include mq(md){
        top: -90px;
      }
    }
  }
  .c-page-header{
    max-width: 753px;
    margin-bottom: 5.125rem;
    @include mq(md){
      margin-bottom: 7.1875rem;
    }
  }
}
.c-section--refact-number{
  background-color: var(--color-primary-h);
  padding: 3rem 0;
  @include mq(md){
    padding: 6rem 0 3rem;
  }
}
.c-refact-number{
  display: flex;
  flex-direction: column;
  .c-page-header__sub-title{
    margin-bottom: 1rem;
  }
}
.c-refact-number__list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @include mq(lg){
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.c-refact-number__items{
  position: relative;
  &:not(:last-child){
    &::after{
      content: '';
      width: 100%;
      height: 1px;
      background-color: #2E9E62;
      opacity: 0.2;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -9px;
      @include mq(lg){
        width: 1px;
        height: 56px;
        right: -9px;
        left: auto;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.c-refact-number__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  width: 100%;
  @include mq(lg){
    justify-content: flex-start;
  }
  &:first-child{
    @include mq(lg){
      .c-refact-number__title{
        max-width: 80px;
      }
    }
  }
  &:nth-child(2){
    @include mq(lg){
      justify-content: center;
      .c-refact-number__title{
        max-width: 107px;
      }
    }

  }
  &:last-child{
    @media (max-width: 991px){
      br{
        display: none;
      }
    }
    @include mq(lg){
      justify-content: flex-end;
      .c-refact-number__title{
        max-width: 135px;
      }
    }
  }
}
.c-refact-number__num{
  font-family: $inter;
  font-weight: bold;
  @include font-size(32px, 1);
  color: var(--color-white);
  @include mq(lg){
    @include font-size(48px, 1);
  }
}
.c-refact-number__title{
  font-family: $inter;
  font-weight: bold;
  text-align: right;
  @include font-size(18px, 1.2);
  color: var(--color-white);
  text-transform: initial;
  @include mq(lg){
    @include font-size(20px, 1.2);
    text-align: left;
  }
}

.c-section--workstyle{
  background-color: var(--color-white);
  padding: 4rem 0 2rem;
  position: relative;

  .o-section__wrapper{
    padding: 0;
    @include mq(lg){
      padding: 0 1.5rem;
    }
  }
  @media (min-width: 992px){
    padding: 10rem 0;
  }
  @media (min-width: 1250px){
    padding: 20.9375rem 0 17.9375rem;
  }
  @media (min-width: 1800px){
    padding: 6rem 0;
  }
}
.c-workstyle{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  @include mq(lg){
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 4rem;
  }
  @media (min-width: 1800px){
    grid-template-columns: 1fr 1.4fr;
  }
  .c-section__title{
    margin: 0 0 0.5rem;
    @include mq(md){
      margin: 0 0 1rem;
    }
  }
  .c-section__desc{
    @include mq(lg){
      max-width: 530px;
    }
  }
}
.c-workstyle__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1.5rem;
  @include mq(lg){
    padding: 0;
  }
}
.c-workstyle__image{
  position: relative;
  right: -10%;
  img{
    width: 100%;
  }
  @media (min-width: 992px){
    position: absolute;
    top: 55%;
    right: -200px;
    width: 600px;
    transform: translateY(-50%);
  }
  @media (min-width: 1050px){
    right: -230px;
    width: 700px;
  }
  @media (min-width: 1250px){
    right: -250px;
    width: 844px;
  }
  @media (min-width: 1440px){
    right: -250px;
    width: 944px;
  }
  @media (min-width: 1800px){
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: auto;
  }
}
.c-team-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: flex-start;
  row-gap: 2rem;
  @include mq(md){
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  @include mq(lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
  }
}
.c-team-list__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: default;
  &:hover{
    .c-team-list__photo .gatsby-image-wrapper{
      filter: saturate(100%) !important;
    }
  }
}
.c-team-list__photo{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-sh);
  .gatsby-image-wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0);
    transition: filter 0.25s ease-in-out;
  }
}
.c-team-list__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  font-family: $inter;
  font-weight: 400;
  color: var(--color-white);
}
.c-team-info__name{
  @include font-size(16px, 1.35);
  font-weight: 600;
  @include mq(md){
    @include font-size(18px, 1.35);
  }
}
.c-team-info__position{
  @include font-size(14px, 1.35);
  color: var(--color-white-80);
  @include mq(md){
    @include font-size(16px, 1.5);
  }
}
.c-section--team-testimonial{
  padding: 4rem 0;
  @include mq(md){
    padding: 8rem 0;
  }
  .o-section__wrapper{
    padding: 0;
    max-width: 100%;
  }
  .c-section{
    max-width: 100%;
    margin: 0 auto 2rem;
    padding: 0 1.5rem;
  
    @include mq(lg) { 
      max-width: calc(1200px - 2em);
    }
  }
  .c-section__title{
    margin: 0;
    @include font-size(24px, 1.5);
    @include mq(md){
      @include font-size(32px, 1.3);
    }
  }
  .c-sf__cta{
    justify-content: flex-start;
    max-width: 100%;
    margin: 2rem auto 0;
    padding: 0 1.5rem;
    @include mq(md){
      margin: 4rem auto 0;
    }
    @include mq(lg) { 
      max-width: calc(1200px - 2em);
    }
  }
}
.c-team-testimonial__items{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  border: 1px solid var(--color-gains);
  padding: 1.5rem 1.25rem;
  background-color: var(--color-white);
  @include mq(md){
    padding: 2rem;
  }
}
.c-team-testimonial__info{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: center;
}
.c-team-testimonial__photo{
  width: 3rem;
  height: 3rem;
  @include mq(md){
    width: 4rem;
    height: 4rem;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}
.c-team-testimonial__author{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.c-team-testimonial-author__text{
  font-family: $inter;
  font-weight: 600;
  @include font-size(14px, 1.35);
  color: var(--color-text);
  @include mq(md){
    @include font-size(16px, 1.35);
  }
  &.is-position{
    color: var(--color-grey);
    font-weight: 400;
  }
}
.c-team-testimonial__content{
  @include font-size(20px, 1.3);
  color: var(--color-text);
  font-weight: 400;
  @include mq(md){
    @include font-size(22px, 1.35);
  }
}

.c-team-testimonial__list{
  max-width: calc(1200px - 2em);
  padding-left: 1.5rem;
  margin: 0 auto;
  .slick-slide{
    display: flex;
    align-items: stretch;
    width: 340px;
    margin-right: 1rem;
    @include mq(md){
      margin-right: 2.5rem;
      width: 540px;
    }
  }
  .slick-list{
    overflow: visible;
    @media (max-width: 1500px){
      z-index: 4;
      position: relative;
    }
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
    position: absolute;
    right: 97%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    @include mq(sm){
      right: 100%;
    }
  }
  .slick-arrow{
    display: none !important;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -69px;
    right: 1.5rem;
    cursor: pointer;
    @include mq(md){
      display: flex !important;
    }
    svg{
      rect{
        fill: #E5F7E3;
      }
      path{
        fill: #002729;
      }
    }
    &.slick-prev{
      right: 76px;
    }
    &.slick-disabled{
      cursor: not-allowed;
      svg{
        rect{
          fill: #F2F3F3;
        }
        path{
          fill: #798686;
        }
      }
    }
  }
  .slick-track {
    display: flex;
  
    .slick-slide {
        height: auto;
        display: flex;
  
        > div {
            display: flex;
        }
    }
  }
}


.c-section--partners{
  padding: 4rem 0;
  @include mq(md){
    padding: 6rem 0;
  }
  .c-section{
    margin: 0 0 2rem;
    @include mq(md){
      margin-bottom: 2.5rem;
    }
  }
  .c-section__title{
    @media (max-width: 767px){
      @include font-size(28px, 1.16);
    }
  }
}
.c-partners__list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @include mq(md){
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2.5rem;
  }
  @include mq(lg){
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.c-partners-list__items{
  display: flex;
  a{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-white);
    border: 2px solid var(--color-gains);
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    @include mq(md){
      padding: 2rem;
    }
    &:hover{
      background-color: var(--color-primary-t);
      border-color: var(--color-primary-t);
    }
  }
}
.c-partners__logo{
  display: flex;
  flex-direction: column;
  height: 77px;
  border-bottom: 1px solid var(--color-gains);
  margin: 0 0 1.5rem;
}
.c-partners-logo__svg{
  display: flex;
}
.c-partners__details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.c-partners__title{
  margin: 0;
  font-family: $inter;
  @include font-size(22px, 1.27);
  font-weight: 600;
  @include mq(md){
    @include font-size(24px, 1.35);
  }
}
.c-partners__text{
  margin: 0;
  font-family: $inter;
  @include font-size(16px, 1.35);
  font-weight: 400;
  color: var(--color-text);
}

// partners section
.c-section--our-partners{
  padding: 4rem 0;
  @include mq(lg){
    padding: 8rem 0;
  }
  @media (max-width: 991px){
   .o-section__wrapper{
    padding: 0;
    max-width: 100%;
   }
   .c-section{
    padding: 0 1.25rem;
   }
  }
  .c-section{
    max-width: 672px;
    margin: 0 auto 2.5rem;
    @include mq(lg){
      margin-bottom: 4rem;
    }
  }
  .c-section__desc{
    margin-bottom: 2rem;
    @include mq(md){
      margin-bottom: 2.5rem;
    }
  }
  .c-marquee-logo{
    max-width: 856px;
    margin: 0 auto;
    gap: 3rem;
    .rfm-initial-child-container,
    .rfm-marquee{
      gap: 3rem;
    }
  }
  .c-marquee-logo__item{
    padding: 0;
    height: 32px;
    @include mq(md){
      height: 46px;
    }
    @media (max-width: 767px){
      svg{
        height: 100%;
      }
    }
  }
  &.is-toolkit{
    background-color: var(--color-primary-h);
    @include mq(lg){
      padding: 5rem 0;
    }
  }
}