.c-section--article {
  overflow: initial;
  padding: 1.25rem 0 2.6em;
  @include mq(md) {
    padding: 2.5rem 0 4rem;
  }
  @include mq(lg) {
    padding: 4rem 0 6rem;
  }

  // .o-section__wrapper {
  //   max-width: 1120px;
  //   padding: 0;
  // }
}

// .c-section--article-header {
//   background: var(--color-primary-r);
//   padding: 2.5rem 0;
//   // .o-section__wrapper {
//   //   // max-width: none;
//   //   padding: 0 1rem;
//   // }
//   @include mq(md) {
//     padding: 3rem 0;
//   }
// }
.c-article__header {
  width: 100%;
  // max-width: 752px;
  // margin: 0 auto;
  margin: 0;
}

.c-article__image {
  display: flex;
  margin: 0 -1em;
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  @include mq(md) {
    max-width: 50%;
    margin: 0;
  }
}

.c-article__category {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  .c-link--category {
    color: var(--color-text);
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-l);
    }
  }
  @include mq(lg) {
    margin: 0 0 16px;
  }
}

.c-article__title {
  margin: 0 0 12px;
  font-weight: 600;
  @include font-size(28px, 1.14);
  color: var(--color-white);
  font-family: $inter;
  @include mq(lg) {
    @include font-size(48px, 1.2083);
    margin: 0 0 16px;
  }
}

.c-article__author {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 0.5rem;
}

.c-article__author-avatar {
  width: 56px;
  flex-shrink: 0;
  margin-right: 8px;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
  }
}

.c-article-author__wrapper {
  display: flex;
  align-items: center;
  .c-article-author__img {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    img {
      border: 2px solid #003233;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
    }
    &:not(:first-child) {
      margin-left: -0.875rem;
    }
  }
}
.c-article-author__name {
  font-family: $inter;
  margin: 0;
  @include font-size(14px, 1.35);
  color: var(--color-white);
  font-weight: 600;
  @include mq(md) {
    @include font-size(16px, 1.35);
  }
}

// .c-article__author-info {
//   font-family: $inter;
// }

// .c-article__author-name {
//   font-family: $inter;
//   margin: 0 0 4px;
//   @include font-size(14px, 1.35);
//   color: var(--color-white);
//   font-weight: 600;
//   @include mq(md){
//     @include font-size(16px, 1.35);
//   }
// }

.c-article__author-date {
  @include font-size(12px, 1.35);
  color: var(--color-primary-t);
  margin-bottom: 2rem;
  @include mq(md) {
    @include font-size(14px, 1.35);
    margin-bottom: 2.5rem;
  }
}

.c-article__content {
  // max-width: 752px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'share' 'content';
  gap: 16px;

  @include mq(lg) {
    gap: 44px;
    grid-template-columns: auto 1fr;
    grid-template-areas: none;
    grid-template-areas: 'content' 'share';
  }
}

.c-article__content-wrapper {
  grid-area: content;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--color-gains);
  max-width: 672px;
  width: 100%;
  @include mq(lg) {
    grid-area: initial;
    padding-bottom: 4.5rem;
  }
}

.c-article__footer {
  max-width: 672px;
  margin: 0;
  padding: 1.5rem 0;
  @include mq(lg) {
    margin: 0 0 0 auto;
  }
}
.c-git{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mq(md){
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.c-article__share {
  margin: 0 0 1rem;
  padding: 8px;
  grid-area: share;
  @include mq(md) {
    margin: 1.5em 0 0;
    grid-area: initial;
    margin-top: 0;
    // position: absolute;
    // top: 0;
    // left: -3.25em;
    // height: 100%;

    .c-share {
      position: sticky;
      top: 5em;
      left: 0;
      transition: top 0.15s ease-out;
      .has-sticky-header & {
        top: 1em;
      }
    }

    .s-share {
      flex-direction: row;
    }
  }

  .c-article__share-title {
    color: #798686;
    font-family: $inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35; /* 1.0125rem */
    letter-spacing: 0.0225rem;
    text-transform: uppercase;
    margin-block: 0 1rem;
  }
}

.c-git {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.c-git__wrap {
  margin-bottom: 2em;

  @include mq(md) {
    margin: 0;
  }
}

.c-git__title {
  margin: 0 0 0.25rem;
  color: var(--color-black);
  font-family: $inter;
  font-weight: 600;
  @include font-size(22px, 1.18);
}

.c-git__text {
  @include font-size(16px, 1.35);
  margin: 0;
  color: var(--color-text);
}

.c-section--related {
  padding: 0;
  padding-bottom: 3em;

  @include mq(lg) {
    padding-bottom: 9.5em;
  }
}

.c-related {
  position: relative;
  overflow: hidden;
}

.single .c-section--project {
  padding: 0;

  padding-bottom: 3em;

  @include mq(lg) {
    padding-bottom: 9.5em;
  }
}

.single .c-project__item {
  &:nth-of-type(even) {
    @include mq(md) {
      padding-top: 6em;
    }
  }
}

.c-article__content--insight {
  // padding: 3rem 1.25rem;

  @include mq(lg) {
    // max-width: 1120px;
    justify-content: space-between;
    grid-template-columns: 308px auto;
  }
}

.c-article__left-side {
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-inline: -1.5rem;

  @include mq(lg) {
    position: static;
    margin-inline: 0;
    z-index: 1;
  }
}

.c-article__toc-wrapper {
  // position: sticky;
  // top: 0;
  height: 100%;
  width: 100%;
  hr,
  .c-article__share {
    display: none;
  }

  @include mq(lg) {
    // top: calc(72px + 1rem);
    // width: auto;

    hr,
    .c-article__share {
      display: block;
    }
  }
}
