.c-section--article {
  overflow: initial;
  padding: 7rem 0 2.6em;
  @include mq(lg) {
    padding: 10.5625rem 0 6rem;
  }

  .o-section__wrapper {
    max-width: 1440px;
  }
}


.c-article__header {
  width: 100%;
  margin: 0 0 1.5rem;
  @include mq(md) {
    margin: 0 0 3rem;
  }
}

.c-article__image {
  display: flex;
  margin: 0 -1em;
  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  @include mq(md) {
    max-width: 50%;
    margin: 0;
  }
}
.c-article-header__links{
  margin: 0 0 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
}
.c-article-header__btn{
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25rem;
  .c-link--category{
    color: var(--color-text);
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-text);
      transition: background-color .35s ease-in-out;
    }
    &:hover{
      color: var(--color-primary-sh);
      &::before{
        background-color: var(--color-primary-sh);
      }
    }
  }
  span{
    font-family: $inter;
    font-weight: bold;
    @include font-size(12px, 2);
    color: var( --color-text);
    text-transform: uppercase;
    letter-spacing: 0.36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    @include mq(md) {
      @include font-size(14px, 1.71);
      letter-spacing: 0.42px;
    }
  }
}
.c-article__category {
  // margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  // .c-link--category {
  //   color: var(--color-white);
  //   background-color: transparent;
  //   border-color: var(--color-white);
  //   &::before{
  //     background-color: var(--color-white);
  //   }
  //   &:hover{
  //     color: var(--color-text);
  //   }
  // }
  // @include mq(lg) {
  //   margin: 0 0 16px;
  // }
}

.c-article__title {
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  @include font-size(28px, 1.14);
  color: var(--color-text);
  font-family: $inter;
  border-bottom: 1px solid var(--color-gains);
  @include mq(lg) {
    @include font-size(40px, 1.2);
  }
}

.c-article__author {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


.c-article-author__wrapper {
  display: flex;
  align-items: center;
  .c-article-author__img {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    img {
      border: 2px solid #fff;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 50%;
    }
    &:not(:first-child) {
      margin-left: -0.875rem;
    }
  }
}
.c-article-author__wrap{
  display: grid;
  grid-template-columns: 1fr;
}
.c-article-author__name {
  font-family: $inter;
  margin: 0;
  @include font-size(14px, 1.35);
  color: var(--color-black);
  font-weight: 600;
}

// .c-article__author-info {
//   font-family: $inter;
// }

// .c-article__author-name {
//   font-family: $inter;
//   margin: 0 0 4px;
//   @include font-size(14px, 1.35);
//   color: var(--color-white);
//   font-weight: 600;
//   @include mq(md){
//     @include font-size(16px, 1.35);
//   }
// }

.c-article-author__date {
  font-family: $inter;
  @include font-size(12px, 1.35);
  color: var(--color-black);
  font-weight: 400;
}
.c-article{
  position: relative;
  display: flex;
  gap: 71px;
}

.c-article__main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.c-article__content {
  max-width: 672px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-areas: 'share' 'content';
  // gap: 16px;

  // @include mq(lg) {
  //   gap: 44px;
  //   grid-template-columns: auto 1fr;
  //   grid-template-areas: none;
  //   grid-template-areas: 'content' 'share';
  // }
}

.c-article__content-wrapper {
  padding-bottom: 1.75rem;
  border-bottom: 1px solid var(--color-gains);
  width: 100%;
  @include mq(md) {
    padding-bottom: 2.25rem;
  }
}
.c-article__tags{
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  max-width: 672px;
  width: 100%;
  margin: 0;
  padding: 1.25rem 0;
  @include mq(md){
    padding: 1.75rem 0;
  }
}
.c-article__footer {
  width: 100%;
  max-width: 672px;
  margin: 0;
  padding: 1.5rem 0;
  border-top: 1px solid var(--color-gains);
}
.c-git{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mq(md){
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.c-article__share {
  margin: 0 0 1rem;
  padding: 8px;
  grid-area: share;
  @include mq(md) {
    margin: 1.5em 0 0;
    grid-area: initial;
    margin-top: 0;
    // position: absolute;
    // top: 0;
    // left: -3.25em;
    // height: 100%;

    .c-share {
      position: sticky;
      top: 5em;
      left: 0;
      transition: top 0.15s ease-out;
      .has-sticky-header & {
        top: 1em;
      }
    }

    .s-share {
      flex-direction: row;
    }
  }

  .c-article__share-title {
    color: #798686;
    font-family: $inter;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
  }
}

.c-git {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.c-git__wrap {
  margin-bottom: 2em;

  @include mq(md) {
    margin: 0;
  }
}

.c-git__title {
  margin: 0 0 0.25rem;
  color: var(--color-black);
  font-family: $inter;
  font-weight: 600;
  @include font-size(22px, 1.18);
}

.c-git__text {
  @include font-size(16px, 1.35);
  margin: 0;
  color: var(--color-text);
}

.c-section--related {
  padding: 0;
  padding-bottom: 2.5rem;

  @include mq(lg) {
    padding-bottom: 4rem;
  }
}

.c-related {
  position: relative;
  overflow: hidden;
}

.single .c-section--project {
  padding: 0;

  padding-bottom: 3em;

  @include mq(lg) {
    padding-bottom: 9.5em;
  }
}

.single .c-project__item {
  &:nth-of-type(even) {
    @include mq(md) {
      padding-top: 6em;
    }
  }
}

.c-article__content--insight {
  // padding: 3rem 1.25rem;

  // @include mq(lg) {
  //   // max-width: 1120px;
  //   justify-content: space-between;
  //   grid-template-columns: 308px auto;
  // }
}

.c-article__left-side {
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-inline: -1.5rem;
  width: 280px;

  @include mq(lg) {
    position: static;
    margin-inline: 0;
    z-index: 1;
  }
}

.c-article__toc-wrapper {
  // position: sticky;
  // top: 0;
  height: 100%;
  width: 100%;
  hr,
  .c-article__share {
    display: none;
  }

  @include mq(lg) {
    // top: calc(72px + 1rem);
    // width: auto;

    hr,
    .c-article__share {
      display: block;
    }
  }
}
