.c-section--herobasic{
  padding: 7.441875rem 0 0;
  background-color: var(--color-primary-r);
  overflow: initial;
  z-index: 2;
  @media (min-width: 1100px){
    padding: 10.625rem 0 10.0625rem;
  }
  .c-pattern{
    &.is-hero-pattern{
      top: -40px;
      @include mq(md){
        top: -90px;
      }
    }
    &.is-hero-highlight{
      top: -289px;
    }
  }
}

.c-herobasic{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @media (min-width: 1100px){
    grid-template-columns: 1fr 1.1fr;
    gap: 3rem;
  }
}
.c-herobasic__title{
  color: var(--color-white);
  font-family: $inter;
  font-weight: bold;
  margin: 0 0 1rem;
  @include font-size(36px, 1.1);
  @include mq(md){
    @include font-size(50px, 1.1);
    margin: 0 0 1.5rem;
  }
  div{
    @include font-size(24px, 1.35);
    font-weight: 400;
    @include mq(md){
      @include font-size(26px, 1.35);
    }
  }
}
.c-section__desc{
  &.has-herobasic{
    color: var(--color-white);
    @include font-size(20px, 1.35);
    font-weight: 400;
    strong{
      font-weight: 600;
    }
    @include mq(md){
      @include font-size(18px, 1.5);
      padding-bottom: 1rem;
    }
    @media (min-width: 1100px){
      max-width: 519px;
    }
  }
}
.c-basic-form{
  padding: 1.875rem 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.34);
  background: linear-gradient(145deg, rgba(46, 158, 98, 0.95) 7.05%, rgba(14, 66, 67, 0.95) 65.14%);
  z-index: 2;
  position: relative;
  margin-bottom: -101px;
  @media (min-width: 1100px){
    padding: 2.1875rem 2rem;
    margin-bottom: -14.8125rem;
    // min-height: 651px;
  }
  .gform_wrapper{
    .gfield_label{
      color: var(--color-white);
    }
    .gform_fields{
      grid-row-gap: 1.3125rem;
      grid-column-gap: 0.75rem;
    }
    input{
      height: 3rem;
      border-color: transparent;
    }
    .gform_button{
      background-color: var(--color-primary-h);
      width: 284px;
    }
    .validation_message{
      color: #fab0b0;
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 1.66;
      font-weight: 400;
      margin: 0.25rem 0 0;
    }
    .gfield_error{
      input{
        outline: 1px solid #fab0b0;
      }
    }
  }
  .gform_page_footer, .gform_footer{
    margin-top: 1.75rem;
    justify-content: center;
    @include mq(lg){
      margin-top: 2.8125rem;
    }
  }
  .gform_confirmation_message{
    padding: 0.75rem 1rem;
    background-color: var(--color-primary-h);
    border: 1px solid var(--color-primary-t);
  }
  .c-confirmation__text{
    @include font-size(16px, 1.5);
    font-weight: 400;
    color: var(--color-primary-r);
    text-align: left;
    a{
      font-weight: bold;
      color: var(--color-primary-r);
    }
  }
}
.c-basic-form__title{
  color: var(--color-white);
  font-family: $inter;
  font-weight: bold;
  margin: 0 0 5px;
  @include font-size(24px, 1.16);
}
.c-basic-form__desc{
  color: var(--color-white);
  font-family: $inter;
  margin: 0 0 1rem;
  @include font-size(16px, 1.35);
}
.c-herobasic__content{
  @media (min-width: 1100px){
    margin-top: 52px;
  }
}

.c-section--basictext{
  padding: 9.25rem 0 4rem;
  @include mq(md){
    padding: 10rem 0 8.75rem;
  }
  &.has-form{
    padding: 8rem 0 2.8125rem;
    @include mq(md){
      padding: 7.6875rem 0 9.0625rem;
    }
    .c-basictext{
      gap: 3rem;
      @include mq(md){
        gap: 5rem;
        grid-template-columns: 1fr 350px;
      }
    }
    .c-section__title{
      font-weight: bold;
      @include font-size(28px, 1.2);
      strong{
        font-weight: bold
      }
      @include mq(md){
        font-weight: 400;
        @include font-size(34px, 1.2);
      }
    }
    .c-section__desc{
      p{
        &:nth-last-of-type(1){
          @include mq(md){
            margin-bottom: 4rem;
          }
        }
      }
    }
    
  }
}
.c-basictext{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  @include mq(md){
    grid-template-columns: auto 350px;
    gap: 2rem;
  }
}
.c-basictext__images{
  order: -1;
  @include mq(md){
    order: 1;
  }
}
.c-basictext__image{
  &::after{
    content: '';
    width: 100%;
    height: 12px;
    display: block;
    position: relative;
    bottom: 6px;
    background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(102, 102, 102, 0.00) 100%);
    filter: blur(5.905516147613525px);
  }
}
.c-basictext__content{
  .c-section__title{
    margin: 0 0 0.75rem;
    @include font-size(20px, 1.2);
    font-weight: bold;
    @include mq(md){
      @include font-size(40px, 1.2);
      margin: 0 0 1.5rem;
    }
  }
  .c-section__desc{
    @include font-size(20px, 1.5);
    @include mq(md){
      @include font-size(18px, 1.5);
    }
    br{
      display: none;
    }
    p{
      margin: 0 0 3rem;
      strong{
        font-weight: 600;
      }
    }
    h3{
      font-family: $inter;
      margin: 0 0 0.75rem;
      @include font-size(24px, 1.5);
      font-weight: bold;
      @include mq(md){
        margin: 0;
        line-height: 2;
      }
    }
    h4{
      font-family: $inter;
      margin: 0 0 0.75rem;
      @include font-size(20px, 1.5);
      font-weight: 600;
      @include mq(md){
        @include font-size(18px, 1.5);
        margin: 0;
        line-height: 2;
      }
    }
    h2{
      font-family: $inter;
      margin: 0 0 0.75rem;
      @include font-size(20px, 1.2);
      font-weight: bold;
      @include mq(md){
        @include font-size(40px, 1.2);
        margin: 0 0 1rem;
      }
    }
    ul, ol{
      padding-left: 1.5rem;
      display: grid;
      gap: 0.25rem;
      margin-top: 0;
    }
  }
}

// Version two
.c-section--basichero{
  padding: 7.441875rem 0 0;
  background-color: var(--color-primary-r);
  overflow: initial;
  z-index: 2;
  @media (min-width:1100px){
    padding: 6.5625rem 0 8.6875rem;
  }
  .c-pattern{
    &.is-hero-pattern{
      top: -40px;
      @include mq(md){
        top: -90px;
      }
    }
    &.is-hero-highlight{
      @include mq(lg){
        top: -289px;
      }
    }
  }
}
.c-basichero{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @media (min-width:1100px){
    grid-template-columns: 1fr auto;
    gap: 7.5rem;
  }
  .c-hero__title{
    @include font-size(36px, 1.2);
    font-weight: bold;
    margin: 0 0 0.5rem;
    @include mq(lg){
      @include font-size(48px, 1.2);
      margin: 0 0 0.75rem;
    }
  }
  .c-section__desc{
    color: var(--color-white);
    @include font-size(20px, 1.35);
    font-weight: 400;
    strong{
      font-weight: 600;
    }
    @media (min-width:1100px){
      max-width: 559px;
    }
  }
}
.c-basichero__content{
  max-width: 900px;
  @media (min-width:1100px){
    margin-top: 102px;
  }
}
.c-basichero__images{
  z-index: 2;
  position: relative;
  margin-bottom: -101px;
  @include mq(sm){
    max-width: 410px;
    margin: 0 auto -101px;
  }
  @media (min-width:1100px){
    margin: 0 1rem -14.8125rem 0;
  }
  &::after{
    content: '';
    width: 100%;
    height: 12px;
    display: block;
    position: relative;
    bottom: 6px;
    background: radial-gradient(50% 50% at 50% 50%, #000 0%, rgba(102, 102, 102, 0.00) 100%);
    filter: blur(5.905516147613525px);
  }
}
.c-basictext__form{
  .c-basic-form{
    padding: 0;
    background: transparent;
    margin: 0;
    .gform_wrapper{
      .gfield_label{
        color: var(--color-text);
      }
      input{
        border-color: var(--color-text);
      }
      .gform_button{
        background-color: var(--color-text);
        width: 284px;
        @include mq(md){
          width: 350px;
        }
      }
    }
    .gform_footer{
      margin-top: 1.5rem;
    }
    .validation_message{
      color: #9e1414;
    }
    .gfield_error{
      input{
        outline: 1px solid #9e1414;
      }
    }
  }
}
.c-basichero-p{
  position: absolute;
  svg{
    width: 254px;
    height: 254px;
  }
  &.is-left{
    left: -100px;
    top: 53px;
  }
  &.is-right{
    right: -100px;
    bottom: 73px;
  }
}