.c-section--contact {
    padding: 3rem 0;

    @include mq(md) {
        padding: 5rem 0;
    }
    &.is-contact{
        overflow: initial;
        @media (max-width: 991px){
            padding-bottom: 0;
            .c-contact__col{
                &:first-child{
                    padding: 0 1.25rem;
                }
            }
        }
        .o-section__wrapper{
            @media (max-width: 991px){
                max-width: 100%;
                padding: 0;
            }
        }
    }

    &.has-contact-part{
        padding: 4rem 0;
        @include mq(md) {
            padding: 8rem 0;
        } 
        .gform_footer{
            align-items: flex-start;
        }
        .gform_confirmation_message{
            padding: 0.75rem 1rem;
            background-color: var(--color-primary-h);
            border: 1px solid var(--color-primary-t);
            svg{
                max-width: 24px;
                margin-bottom: 8px;
            }
            h4{
                @include font-size(16px, 1.5);
                font-weight: 600;
                color: var(--color-primary-r);
                text-align: center;
                a{
                font-weight: bold;
                color: var(--color-primary-r);
                }
            }
          }
    }
}
.c-contact__title {
    margin: 0;
    font-family: $sentient;
    font-weight: 400;
    @include font-size(28px, 1.5);
    color: var(--color-text);
    margin-bottom: 0.571428571428571em;

    @include mq(md) {
        @include font-size(68px, 1.19);
        letter-spacing: -0.02em;
        margin-bottom: 0.352941176470588em;
    }
}
.c-contact{
    // max-width: 731px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    @include mq(lg){
        grid-template-columns: 1.5fr 1fr;
        gap: 5.3125rem;
    }
}
.c-contact-form__title{
    font-family: $inter;
    @include font-size(28px, 1.2);
    font-weight: bold;
    letter-spacing: normal;
    margin: 0 0 0.5rem;
    @include mq(lg){
        @include font-size(48px, 1.10);
    }
    &.is-hidden{
        display: none;
    }
}
.c-contact__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(20px, 1.35);
    // display: flex;
    // align-items: center;
    width: 100%;
    color: var(--color-text);
    word-wrap: break-word;
    margin: 0 0 1.5rem;
    button{
        margin: 0;
        padding: 0;
        background: transparent;
        outline: none;
        border: none;
        color: var(--color-text);
        font-weight: bold;
        cursor: pointer;
        word-wrap: break-word;
        border-bottom: 2px solid var(--color-text);
        transition: border-color .25s linear, color .25s linear;
        &:hover{
            border-color: var(--color-primary-s);
            color: var(--color-primary-s);
        }
    }
    @include mq(md) {
        margin: 0 0 2rem;
        @include font-size(22px, 1.35);
    }
}

.c-contact__title-secondary {
    font-family: $inter;
    font-weight: 600;
    font-style: normal;
    @include font-size(18px, 1.5);
    margin: 0 0 0.666666666666667em;
    color: var(--color-text);

    @include mq(md) {
        @include font-size(23px, 1.48);
        margin: 0 0 0.521739130434783em;
    }
}

.c-contact__social {
    padding: 0;
    margin: 0 0 5.625em;
    list-style: none;
    display: flex;
    align-items: center;

    path {
        transition: fill .25s linear;
    }

    li {
        margin: 0 1.625em 0 0;
        
        &:hover {
            path {
                fill: var(--color-primary-l);
            }
        }
    }
}

.c-contact__calendly {
    border: 1px solid var(--color-gains);

    .calendly-inline-widget {
        height: 1136px;
        overflow: hidden !important;
    }
}
.c-sticky-box{
    position: sticky;
    top: 5em;
    left: 0;
    transition: top 0.15s ease-out;
    .has-sticky-header & {
      top: 1em;
    }
}

.c-learnmore{
    background-color: var(--color-primary-h);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;

    @include mq(md){
        padding: 1.5rem;

    }
}
.c-learnmore__box{
    position: relative;
    background: linear-gradient(135deg, #FFF 31.53%, rgba(255, 255, 255, 0.00) 100.04%);
    padding: 1.25rem;
    @include mq(md){
        padding: 2.5rem 2rem;
    }
    .c-section{
        margin: 0 0 1.5rem;
        @include mq(lg){
            gap: 1rem;
        }
    }
    .c-section__title{
        @include font-size(20px, 1,2);
        @include mq(lg){
            @include font-size(24px, 1.16);
        }
    }
    .c-section__desc{
        @include font-size(16px, 1.5);
        @include mq(lg){
            @include font-size(18px, 1.5);
        }
    }
}
.c-learnmore__links{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    @include mq(lg){
        align-items: flex-start;
    }
}
// .c-learnmore__image{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     top: 0;
//     object-fit: contain;
// }
// .c-learnmore__wrao{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 3rem;
//     height: 100%;
// }
// .c-learnmore__clutch{
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
// }
// .c-learnmore-clutch__logo{
//     display: flex;
// }
// .c-learnmore-clutch__text{
//     font-family: $inter;
//     @include font-size(20px, 1,2);
//     font-weight: bold;
//     color: var(--color-text);
//     @include mq(lg){
//         @include font-size(24px, 1.16);
//     }
// }
// .c-icon-review{
//     display: flex;
// }
// .c-btn-text{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }
// .c-learnmore__clutch-link{
//     .c-btn{
//         padding: 0 0.75rem 0 2rem;
//         height: 4rem;
//         @media (max-width: 380px){
//             font-size: 10px;
//         }
//     }
// }