.c-section--cta {
    padding: 4rem 0;
    background-color: var(--color-primary-r);
    @include mq(lg){
        padding: 5rem 0;
    }
}

.c-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    &.c-cta--beehiiv{
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        @include mq(md){
            margin-top: 3rem;
        }
    }
}

.c-cta__title {
    font-family: $inter;
    font-weight: bold;
    @include font-size(26px, 1.2);
    color: var(--color-white);
    text-transform: inherit;
    margin: 0 0 0.375rem;
    text-align: center;
    @include mq(md){
        @include font-size(40px, 1.2);
    }
}

.c-cta__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(16px, 1.35);
    color: var(--color-white-80);
    margin: 0;
    text-align: center;
    @include mq(md){
        @include font-size(22px, 1.27);
    }
}

.c-cta__col{
    &:last-child{
        width: 100%;
        min-height: 71.91px;
        @media (min-width: 768px){
            width: 100%;
            max-width: 630px;
        }
    }
}
.c-newsletter-form{
    width: 100%;
    margin: 0;
    .gform_wrapper {
        .gfield_label{
            display: none;
        }
        input{
            width: 100%;
            height: 3rem;
            background-color: var(--color-white);
            border-radius: 50px;
            padding: 0 1rem;
            border: none;
            &:focus {
                outline: 1px solid var(--color-primary-s);
            }
        }
        .validation_message{
            color: #fab0b0;
            font-size: 12px;
            font-size: 0.75rem;
            line-height: 1.66;
            font-weight: 400;
            margin: 0.25rem 0 0;
            padding-left: 1rem;
        }
        .gfield_error input {
            border-color: #fab0b0;
            outline: 1px solid #fab0b0;
        }
    }
}
.c-newsletter-form__wrap{
    width: 100%;
    p {
        color: var(--color-white-80);
        @include font-size(12px, 1.66);
        font-weight: 400;
        margin: 0.25rem 0 0;
        padding-left: 1rem;
        &.is-error{
            color: #fab0b0;
        }
    }
    &.is-hidden{
        display: none;
    }
}
.c-newsletter-form__box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
    .gform_footer{
        margin-top: 0;
    }
}
.c-btn--newsletter{
    width: 4rem;
    height: 3rem;
    @media (max-width: 767px){
        padding: 0.25rem;
        gap: 0;
        span{
            display: none;
        }
        .c-btn__icon{
            width: 100%;
            height: 2.5rem;
        }
    }
    @include mq(md){
        width: 10.9375rem;
    }
    &:disabled{
        padding: 0.25rem;
        color: var(--color-text);
    }
}
.c-newsletter-form__success-message{
    .gform_confirmation_message{
        color: var(--color-text);
        font-size: 0.875rem;
        line-height: 1.2;
        background: var(--color-primary-h);
        // height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        font-weight: 500;
        padding: 0.9rem;
    }
}