.c-section--cta {
    padding: 3em 0 2.25em;
    background-color: var(--color-primary-r);

    @include mq(md) {
        padding: 9.75em 0 6em;
    }
}

.c-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 33px;

    @include mq(md) {
        flex-direction: row;
        align-items: center;
    }
}

.c-cta__title {
    font-family: $sentient;
    font-weight: 400;
    @include font-size(32px, 1.19);
    color: var(--color-white);
    max-width: 472px;
    margin: 0 0 32px;

    @include mq(md) {
        @include font-size(48px, 1.21);
        margin: 0;
    }
}

.c-cta__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(16px, 1.5);
    color: var(--color-primary-h);
    margin-bottom: 33px;
    max-width: 387px;

    @include mq(md) {
        @include font-size(23px, 1.48);
        margin-bottom: 24px;
    }
}