.c-section--cta {
    padding: 4rem 0;
    background-color: var(--color-text);
}

.c-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    @include mq(md) {
        flex-direction: row;
        align-items: center;
    }
    &.c-cta--beehiiv{
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        @include mq(md){
            margin-top: 3rem;
        }
    }
}

.c-cta__title {
    font-family: $inter;
    font-weight: 600;
    @include font-size(24px, 1.2);
    color: var(--color-white);
    text-transform: inherit;
    margin: 0 0 0.375rem;
    text-align: left;
}

.c-cta__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(16px, 1.35);
    color: var(--color-primary-h);
    margin: 0;
    text-align: left;
}
.c-cta__col{
    &:last-child{
        width: 100%;
        @media (min-width: 768px){
            width: 100%;
            max-width: 463px;
        }
    }
}
.c-newsletter-form{
    width: 100%;
    margin: 0;
}
.c-newsletter-form__wrap{
    width: 100%;
    p {
        color: var(--color-white-80);
        font-size: 0.875rem;
        margin: 0.5rem 0 0;
    }
}
.c-newsletter-form__box{
    width: 100%;
    display: flex;
    position: relative;
    input{
        width: 100%;
        height: 3rem;
        background-color: var(--color-white);
        border-radius: 50px;
        padding: 0 1rem;
        border: none;
        &:focus {
            outline: 1px solid var(--color-primary-s);
        }
    }
    .c-btn{
        position: absolute;
    }
}
.c-btn--newsletter{
    @include font-size(14px, 1);
    padding: 0.5rem 1.5rem;
    height: 2.5rem;
    width: 7.9375rem;
    display: flex;
    align-items: center;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primary-r);
    color: var(--color-white);
    &:hover{
        background-color: var(--color-primary-sh);
    }
}
.c-newsletter-form__success-message{
    color: var(--color-text);
    font-size: 0.875rem;
    line-height: 1.2;
    background: var(--color-primary-h);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 500;
}