.c-email-subscriber {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  // position: sticky;
  bottom: 0;
  background-color: var(--color-primary-r);
  // z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  border-radius: 0.5rem;
  opacity: 0;
  z-index: 1001;
  transform: translateY(300px);
  overflow: hidden;
  margin-top: -6.9375rem;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  &.c-email-subscriber--show {
    opacity: 1;
    transform: translateY(-30px);
  }
  &.c-email-subscriber--sticky {
    position: sticky;
  }
  &.c-email-subscriber--static {
    position: static;
  }
  @include mq(lg) {
    max-width: 280px;
    margin: 0;
    gap: 1.25rem;
    padding: 24px;
    margin-top: -11.4175rem;
  }
  &__success-message {
    font-family: $inter;
    @include font-size(16px, 1.5);
    margin: 0;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
    margin: 0 auto;
  }
  &.c-newsletter-form {
    .gform_wrapper{
      .validation_message{
        @include mq(md){
          position: absolute;
        }
      }
    }
    .gform_wrapper input{
      height: 43px;
    }
    .c-btn--newsletter{
      width: 4rem;
      height: 43px;
      padding: 0.25rem;
      @include font-size(14px, 1);
      gap: 0;
      @include mq(md){
        width: 154px;
      }
      // span{
      //   display: none;
      // }
      .c-btn__icon{
        width: 100%;
        height: 35px;
        @include mq(md){
          width: 35px;
        }
      }
    }
  }
  .is-highlight-sub{
    bottom: -5px;
    right: 0;
  }
}
.c-email-subscriber__success-message{
  .gform_confirmation_message{
    padding: 0;
    background: transparent;
    font-size: inherit;
    line-height: inherit;
  }
}
.c-email-subscriber__info {
  display: flex;
  flex-direction: column;
  @include mq(lg) {
    gap: 0.25rem;
  }
}
.c-email-subscriber__title {
  font-family: $inter;
  @include font-size(19px, 1.47);
  font-weight: 600;
  color: var(--color-white);
  margin: 0;
  display: none;
  @include mq(lg) {
    display: block;
  }
}
.c-email-subscriber__text {
  font-family: $inter;
  @include font-size(16px, 1.5);
  margin: 0;
  font-weight: 600;
  color: var(--color-white);
  @include mq(lg) {
    @include font-size(14px, 1.42);
    font-weight: 400;
    color: var(--color-white-80);
  }
}
.c-email-subscriber__close{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
  &:hover{
    color: var(--color-primary-t);
  }
}

// .c-email-subscriber__form {
//   display: flex;
//   gap: 12px;
//   width: 100%;
//   input {
//     border-radius: 4px;
//     background-color: var(--color-white);
//     @include font-size(16px, 1.3);
//     padding: 8px;
//     height: 48px;
//     width: 100%;
//     border: none;
//     outline: none;
//     @include mq(md) {
//       max-width: 238px;
//     }
//     &::placeholder {
//       color: #798686;
//       @include font-size(13px, 1);
//     }
//   }
// }

// .c-btn--subscriber {
//   border-radius: 4px;
//   text-align: center;
//   margin: 0 auto;
//   width: 135px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 48px;
// }

.c-email-subscriber-form__wrap {
  display: flex;
  width: 100%;
  .gform_wrapper{
    width: 100%;
  }
  .gform_body{
    width: 100%;
  }
  .c-newsletter-form__box{
    display: flex;
    gap: 0;
    .gform_footer{
      position: absolute;
      right: 0;
      .c-btn--newsletter{
        width: 42px;
      }
      span{
        display: none;
      }
    }
  }
  p {
    color: var(--color-white-80);
    font-size: 14px;
    margin: 0;
  }
}
