.c-section--hero {
    padding: 7rem 0 14rem;
    background: var(--color-primary-r);
    overflow-x: hidden;
    position: relative;
    @include mq(md) {
        padding: 5.25rem 0 17rem;
    }
    @include mq(lg){
        padding: 8.25rem 0 8.75rem;
    }
    .o-section__wrapper{
        @include mq(lg){
            max-width: calc(1440px - 2em);
        }
    }
}
.c-hero__video{
    display: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #003233 0%, rgba(0, 50, 51, 0) 62%);
        display: block;
    }
    video{
        object-fit: contain;
        object-position: center right;
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;
        pointer-events: none;
    }
    @include mq(lg){
        display: block;
    }
}
.c-hero-top__overlay{
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #003233 0%, rgba(0, 50, 51, 0) 100%);
        z-index: 1;
    }
}
.c-hero-bottom__overlay{
    display: none;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #003233 0%, rgba(0, 50, 51, 0) 100%);
        z-index: 1;
    }
    @include mq(lg){
        display: block;
    }
}
.c-hero__video--desktop{
    display: none;
    @include mq(lg){
        display: block;
    }
}
.c-hero__video--mobile{
    display: block;
    @include mq(lg){
        display: none;
    }
}
.c-hero-mobile__video{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    @media (min-width: 600px) and (max-width: 992px) {
        right: 0;
        left: auto;
        width: auto;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #003233 0%, rgba(0, 50, 51, 0) 62%);
            display: block;
        }
    }
    video{
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 100%;
        pointer-events: none;
    }
    @include mq(lg){
        display: none;
    }
}
.c-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // max-width: 1120px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.c-hero__title {
    font-family: $sentient;
    font-weight: 400;
    font-style: normal;
    @include font-size(36px, 1.22);
    text-align: center;
    letter-spacing: -0.72px;
    color: var(--color-white);
    margin: 0 0 0.666666666666667em;

    @include mq(md) {
        @include font-size(68px, 1.19);
        letter-spacing: -1.36px;
        margin: 0 0 1rem;
    }
}

.c-hero__text {
    font-family: $inter;
    font-weight: 500;
    @include font-size(28px, 1.15);
    color: var(--color-white);
    margin: 0 0 2.5rem;
    text-align: left;
    max-width: 874px;
    @include mq(lg) {
        @include font-size(48px, 1.15);
        margin-bottom: 3rem;
    }
}

.c-hero__logos {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 40px;
    @include mq(md) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding-top: 96px;
    }
    .slick-initialized .slick-slide{
        display: flex;
        align-items: center;
      }
      .slick-slide {
        height: auto; 
      }
      .slick-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }
}

.c-hero-logo__items{
    margin-right: 40px;
    svg{
        path{
            transition: fill 0.3s ease;
        }
    }
    a{
        display: flex;
        &:hover{
            svg{
                path{
                    fill: #59CC51;
                    &.is-stay{
                        fill: #003233;
                    }
                }
            }
        }
    }
    @include mq(md){
        margin: 0 32px 52px;
        display: flex;
        align-items: center;
    }
    
}
.c-hero-logo__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 48px;
    @include mq(md){
        margin-top: 96px;
    }
    &::after{
        content: '';
        width: 100px;
        height: 100%;
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(270deg, rgba(0, 50, 51, 0.90) 0%, rgba(0, 50, 51, 0.00) 92.11%);
        z-index: 2;
        @include mq(sm){
            width: 184px;
            right: 0;
        }
    }
    &::before{
        content: '';
        width: 100px;
        height: 100%;
        position: absolute;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(270deg, rgba(0, 50, 51, 0.00) 0%, rgba(0, 50, 51, 0.90) 92.11%);
        z-index: 2;
        @include mq(sm){
            width: 184px;
            left: 0;
        }
    }
    swiper-container{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 40px;
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
        position: relative;
        &.c-clients-slider-reverse{
            display: none;
            @include mq(md){
                display: flex;
            }
        }
    }
    swiper-slide{
        // width: auto !important;
        // margin-right: 40px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            display: flex;
            &:hover{
                svg{
                    path{
                        fill: #59CC51;
                        transition: fill 0.25s ease-in-out;
                        &.is-stay{
                            fill: #003233;
                        }
                    }
                }
            }
        }
    }
}


.c-section--company-logo{
    padding: 2rem 0;
    background-color: var(--color-primary-h);
    @include mq(md){
        padding: 3rem 0;
    }
    .o-section__wrapper{
        max-width: 1034px;
    }
    .c-hero-logo__wrapper{
        margin-top: 0;
        &::before{
            background: linear-gradient(270deg, rgba(229, 247, 227, 0.00) 0%, rgba(229, 247, 227, 0.90) 92.11%);
        }
        &::after{
            background: linear-gradient(270deg, rgba(229, 247, 227, 0.90) 0%, rgba(229, 247, 227, 0.00) 92.11%);
        }
        swiper-slide{
            a{
                svg{
                    path{
                        fill: #003233;
                        transition: fill 0.25s ease-in-out;
                    }
                }
                &:hover{
                    svg{
                        path{
                            fill: #268250;
                            &.is-stay{
                                fill: #003233;
                            }
                        }
                    }
                }
            }
        }
    }
}

.c-section--section-title{
    padding: 0 0 1.5rem;
    @include mq(md){
        display: none;
    }
}