.c-section--home {
    padding: 10.5625rem 0 4rem;
    background: var(--color-text);
    @include mq(lg){
        padding: 11.5rem 0 8rem;
    }
    .o-section__wrapper{
        max-width: 100%;
        padding: 0;
    }
    &.is-service-hero{
        padding-bottom: 2.5rem;
        .c-btn{
            margin-bottom: 1.5rem;
            gap: 0.5rem;
        }
    }
}
.c-hero__wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;

    @include mq(lg) { 
        max-width: calc(1192px - 2em);
    }
}

.c-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // max-width: 1120px;
    margin: 0 auto 2rem;
    z-index: 1;
    position: relative;
    @include mq(md) {
        margin: 0 auto 3rem;
    }
    @include mq(lg){
        margin: 0 auto 5rem;
    }
    .c-btn{
        margin: 0;
    }
}

.c-hero__title {
    font-family: $inter;
    font-weight: bold;
    @include font-size(40px, 1.2);
    text-align: left;
    color: var(--color-white);
    margin: 0 0 1rem;
    @include mq(md) {
        @include font-size(64px, 1.15);
    }
    .home &{
        @media (max-width: 500px){
            max-width: 277px !important;
        }
    }
}

.c-hero__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(22px, 1.3);
    color: var(--color-white);
    margin: 0 0 3rem;
    text-align: left;
    max-width: 753px;
    @include mq(lg) {
        @include font-size(24px, 1.3);
    }
}

.c-marquee__hero{
    height: 84px;
    @include mq(lg){
        height: 100px;
    }
}
.c-marquee-logo {
    .rfm-initial-child-container{
        gap: 0.75rem;
    }
}
.rfm-marquee{
    gap: 0.75rem;
}
.c-marquee-logo__item{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    @include mq(lg){
        padding: 2rem;
    }
}
.c-section{
    &.has-home-hero{
        padding-top: 4rem;
        @include mq(lg){
            padding-top: 8rem;
        }
        .c-section__title,
        .c-section__desc{
            color: var(--color-white);
        }
    }
}
.c-sf{
    padding-top: 2.5rem;
    .c-sf__list{
        grid-template-columns: 1fr;
        gap: 1.5rem;
        @include mq(lg){
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem;
        }
    }
    .c-sf__title{
        margin-bottom: 1.25rem;
        @include mq(md){
            margin-bottom: 1.5rem;
        }
    }
    .c-sf-list__items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.5rem;
    }
}
.c-sf-list__items{
    // &:first-child{
    //     background: transparent;
    //     padding: 0;
    //     margin-bottom: 1rem;
    //     @include mq(md){
    //         margin-bottom: 0;
    //     }
    // }
    .c-section__title{
        color: var(--color-white);
        margin: 0 0 1rem;
    }
    .c-section__desc{
        color: var(--color-white);
        margin: 0 0 1.5rem;
        @include mq(md){
            margin: 0 0 3rem;
        }
    }
}