.c-section--landing-hero{
    padding: 1.5rem 0;
    background-color: var(--color-primary-r);
    @include mq(md) {
        padding: 5rem 0;
    }
}
.c-landing-hero__col{
  &:first-child{
    margin-bottom: 3rem;
    @include mq(lg){
      margin-bottom: 0;
    }
  }
}
.c-landing-hero__cta{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  @include mq(md){
    gap: 2.5rem;
  }
}
.c-landing-hero__logo{
  display: flex;
  margin: 0 0 0.75rem;
  @include mq(md){
    margin: 0 0 2rem;
  }
}
.c-landing-hero__title{
  @include font-size(32px, 1.1);
  font-weight: 700;
  font-family: $inter;
  color: var(--color-white);
  margin: 0 0 1.5rem;
  @include mq(md){
    @include font-size(48px, 1.2);
  }
}
.c-landing-hero__text{
  @include font-size(16px, 1.5);
  font-weight: 400;
  font-family: $inter;
  color: var(--color-white);
  margin: 0 0 1.5rem;
  @include mq(md){
    @include font-size(19px, 1.47);
    margin: 0 0 2rem;
  }
}