.c-notfound {
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;

  @include mq(md) {
    padding: 5em 0;
  }

  @include mq(lg) {
    padding: 6em 0;
  }
}

.c-notfound__text {
  margin: 0 0 1.25rem;

  @include mq(lg) {
    margin-bottom: 2rem;
  }
}

.c-notfound__cta {
  display: flex;
  justify-content: center;
}