.c-notfound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  @include mq(lg) {
    gap: 80px;
  }
}
.c-notfound__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.c-notfound__title{
  font-family: $sentient;
  color: var(--color-white);
  margin: 0;
  letter-spacing: -1.36px;
  font-weight: 400;
}
.c-notfound__text {
  font-family: $inter;
  font-weight: 400;
  @include font-size(22px, 1.5);
  margin: 0;
  color: var(--color-white);
  @include mq(lg) {
    @include font-size(28px, 1.50);
  }
}

.c-notfound__cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 8px;
  span{
    @include font-size(16px, 1.4);
    font-weight: 400;
    color: var(--color-white);
    @include mq(md){
      @include font-size(19px, 1.4);
    }
  }
  a{
    color: var(--color-primary-l);
    text-decoration: none;
    @include font-size(16px, 1.4);
    font-weight: 400;
    transition: color 0.25s ease-in-out;
    &:hover{
      color: var(--color-white);
    }
    @include mq(md){
      @include font-size(19px, 1.4);
    }
  }
}