.c-section--page-header {
    padding: 3em 0 1.875em;
    background: var(--color-primary-r);

    &.t-light {
        padding-bottom: 2.5em;
        background: var(--color-white);
    }
    &.is-work{
        .c-page-header__text{
            margin-bottom: 24px;
            @include mq(md){
                margin-bottom: 40px;
            }
        }
    }
    &.is-url-builder{
        padding: 48px 0;
        @include mq(md){
            padding: 64px 0;
        }
        .c-page-header{
            max-width: 932px;
        }
        .c-page-header__title{
            max-width: 871px;
            @include font-size(32px, 1.18);
            @include mq(md){
                @include font-size(48px, 1.2);
            }
        }
        .c-page-header__text{
            p{
                margin: 0;
            }
        }
    }
    @include mq(md) {
        padding: 6em 0 8em;

        &.t-light {
            padding-bottom: 7.5em;
        }
    }
}

.c-page-header {
    max-width: 768px;

    .post-type-archive-works & {
        max-width: 842px;
    }
    &.is-full{
        max-width: 100%;
        .c-page-header__text{
            max-width: 768px;
        }
    }
}

.c-page-header__sub-title {
    font-family: $inter;
    font-weight: 600;
    @include font-size(12px, 2);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: 1.333333333333333em;

    @include mq(md) {
        @include font-size(13px, 1.85);
        margin-bottom: 1.846153846153846em;
    }

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background: var(--color-primary-l);
        display: inline-flex;
        border-radius: 100%;
        margin: 0 12px 0 0;

        @include mq(md) {
            width: 16px;
            height: 16px;
            margin: 0 9px 0 0;
        }
    }

    .c-section--contact & {
        color: var(--color-text);
    }
}

.c-page-header__title {
    margin: 0 0 24px;
    font-family: $sentient;
    font-weight: 400;
    @include font-size(32px, 1.18);
    color: var(--color-white);

    .t-light & {
        color: var(--color-text);
    }

    @include mq(md) {
        margin: 0 0 40px;
        @include font-size(68px, 1.19);
        letter-spacing: -1.36px;
    }
}

.c-page-header__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(18px, 1.56);
    color: var(--color-white);

    @include mq(md) {
        @include font-size(28px, 1.5);
    }
}
.c-page-header__cta{
    .c-btn{
        justify-content: center;
        width: 100%;
        @include mq(md){
            width: auto;
        }
    }
}