.c-section{
    display: flex;
    flex-direction: column;
}

.c-section__title {
    font-family: $inter;
    font-weight: 600;
    font-style: normal;
    @include font-size(32px, 1.18);
    color: var(--color-text);
    margin: 0;

    @include mq(md) {
        @include font-size(40px, 1.45);
    }

    .home & {
        text-align: center;
    }
}
.c-section__desc{
    font-family: $inter;
    font-weight: 400;
    font-style: normal;
    @include font-size(20px, 1.35);
    color: var(--color-text);
    margin: 0;

    @include mq(md) {
        @include font-size(24px, 1.35);
    }
    p{
        margin: 0;
        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }

}