.c-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.is-center{
    align-items: center;
    .c-section__desc,
    .c-section__title{
        text-align: center;
    }
}
.c-section__title {
    font-family: $inter;
    font-weight: bold;
    text-align: left;
    @include font-size(32px, 1.12);
    color: var(--color-text);
    margin: 0;
    @include mq(md) {
        @include font-size(40px, 1.2);
    }
}
.c-section__desc{
    font-family: $inter;
    font-weight: 400;
    @include font-size(20px, 1.4);
    color: var(--color-text);
    margin: 0;
    @include mq(md) {
        @include font-size(22px, 1.27);
    }
    p{
        margin: 0;
        &:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }
}

.c-section__cta{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

// Patterns
.c-pattern{
    position: absolute;
    z-index: -1;
    &.is-hero-highlight{
        top: -121px;
        left: 0;
        @media (max-width: 767px){
            top: 126px;
            svg{
                width: 232px;
                height: auto;
            }
        }
    }
    &.is-hero-pattern{
        top: 8rem;
        right: 0;
        @media (max-width: 767px){
            top: 0;
            svg{
                width: 390px;
                height: 554px;
            }
        }
    }
    &.is-page-pattern{
        top: 0;
        right: 0;
        @media (max-width: 767px){
            svg{
                height: 484px;
            }
        }
    }
    &.is-project-pattern-1{
        top: 70px;
        right: 5%;
        @media (max-width: 991px){
            display: none;
        }
    }
    &.is-project-pattern-2{
        top: 704px;
        left: 5%;
        @media (max-width: 991px){
            display: none;
        }
    }
    &.is-project-pattern-3{
        top: 1350px;
        right: 5%;
        @media (max-width: 991px){
            display: none;
        }
    }
    &.is-project-pattern-4{
        top: -260px;
        left: 0;
        @media (max-width: 767px){
            top: -100px;
            svg{
                width: 232px;
                height: auto;
            }
        }
        &.is-our-value{
            top: -393px;
            @media (max-width: 767px){
                top: -26px;
            }
        }
    }
    &.is-project-pattern-5{
        bottom: -85px;
        right: 0;
        @media (max-width: 767px){
            bottom: -80px;
            right: -16px;
            svg{
                width: 212px;
                height: auto;
            }
        }
    }
    &.is-cta-pattern-1{
        right: 0;
        top: 0;
        @media (max-width: 767px){
            top: 50%;
            transform: translateY(-50%);
            svg{
                width: 364px;
            }
        }
    }
    &.is-cta-pattern-2{
        left: 0;
        bottom: 0;
        @media (max-width: 767px){
            bottom: 50%;
            transform: translateY(50%);
            svg{
                width: 364px;
            }
        }
    }
    &.is-cta-pattern-3{
        left: 50%;
        transform: translateX(-50%);
        bottom: -1rem;
        @media (max-width: 767px){
            svg{
                width: 500px;
                height: auto;
            }
        }
    }
    &.is-our-partners{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 767px){
            svg{
                width: 600px;
                height: auto;
            }
        }
    }
    &.is-workstyle-pattern{
        top: -514px;
        left: -22px;
        @media (max-width: 767px){
            top: -152px;
            left: 0;
            svg{
                width: 154px;
                height: auto;
            }
        }
    }
    &.is-pattern-testimonial{
        top: -192px;
        left: 0;
        z-index: 2;
        @media (max-width: 767px){
            top: -69px;
            left: -1px;
            svg{
                width: 154px;
                height: auto;
            }
        }
    }
    &.is-pattern-client{
        top: -192px;
        left: 0;
        @media (max-width: 767px){
            top: -99px;
            svg{
                width: 154px;
                height: auto;
            }
        }
    }
    &.is-testimonial-left{
        top: 0;
        left: 0;
        @media (max-width: 767px){
            svg{
                width: 390px;
                height: auto;
            }
        }
    }
    &.is-testimonial-right{
        bottom: 0;
        right: 0;
        @media (max-width: 767px){
            svg{
                width: 390px;
                height: auto;
            }
        }
    }
}
.c-section--clutch{
    background-color: #fafafa;
}