.s-share {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
    &:hover{
      color: var(--color-primary-sh);
    }
  }
}
.c-share-text{
  font-size: 13px;
  font-weight: 600;
  color: var(--color-primary-sh);
  margin: 0;
}
.c-link-copy{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}
.c-copy-link-container{
  position: relative;
}
.c-link-tooltip{
  position: absolute;
  background: var(--color-primary-h);
  color: var(--color-text);
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
  white-space: nowrap;
  left: -1rem;
  bottom: -2.5rem;
  text-transform: capitalize;
}