
.o-section-work{
  margin: 0 0 2rem;
  @include mq(md){
    margin: 0 0 4rem;
  }
  &:last-child{
    margin-bottom: 0;
  }

}
.c-works__title{
  font-family: $inter;
  @include font-size(36px, 1.22);
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: var(--color-black);
  @include mq(md){
    @include font-size(48px, 1.2);
  }
}
.c-works__head{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 0 3rem;
  @include mq(md){
    grid-template-columns: 1fr 163px;
    margin: 0 0 4rem;
  }
}
.c-works-head__info{
  max-width: 690px;
  margin: 0;
  p{
    font-family: $sentient;
    @include font-size(22px, 1.45);
    font-weight: 400;
    margin: 0;
    color: var(--color-black);
    @include mq(md){
      @include font-size(24px, 1.25);
    }
  }
}
.c-works-head__keywork{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  li{
    font-family: $inter;
    @include font-size(16px, 1.5);
    font-weight: 400;
    margin: 0;
    color: var(--color-black);
  }
}
.c-section--works-content{
  max-width: 690px;
  @include mq(md){
    margin-left: 64px;
  }
  @include mq(lg){
    margin-left: 97px;
  }
}
.c-works-content__title{
  font-family: $sentient;
  @include font-size(32px, 1.18);
  font-weight: 400;
  margin: 0 0 0.5rem;
  color: var(--color-black);
  @include mq(md){
    @include font-size(48px, 1.2);
  }
}
.c-media{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

}
.c-media-display-split{
  @include mq(md){
    grid-template-columns: 2fr 1fr;
  }
  &.is-media-reverse{
    grid-template-areas: "two" "one";
    @include mq(md){
      grid-template-areas: "two one";
      grid-template-columns: 1fr 2fr;
    }
    .c-media__items{
      &:first-child{
        grid-area: one;
      }
      &:last-child{
        grid-area: two;
      }
    }
  }
}
.c-media-display-equal{
  @include mq(md){
    grid-template-columns: 1fr 1fr;
  }
  &.is-media-reverse{
    grid-template-areas: "two" "one";
    @include mq(md){
      grid-template-areas: "two one";
    }
    .c-media__items{
      &:first-child{
        grid-area: one;
      }
      &:last-child{
        grid-area: two;
      }
    }
  }
}
.c-media__items{
  display: flex;
  align-items: stretch;
  img{
    border-radius: 0.5rem;
  }
  video{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    pointer-events: none;
  }
}
.c-section--works-testimonial{
  padding: 2rem 0;
  &.has-media{
    .c-works-testimonial{
      @include mq(md){
        grid-template-columns: 1fr 1fr;
      }
    }
    .c-works-testimonial__quote{
      @include mq(md){
        max-width: 459px;
      }
    }
  }
}
.c-works-testimonial{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
}
.c-works-testimonial__quote{
  position: relative;
  @include mq(md){
    margin-left: 2.5rem;
  }
  p{
    font-family: $sentient;
    font-weight: 400;
    margin: 0 0 1rem;
    @include font-size(36px, 1.27);
  }
  cite{
    font-family: $inter;
    font-weight: 400;
    @include font-size(16px, 1.5);
    font-style: normal;
    color: var(--color-grey);
  }
}
.c-works-testimonial__quote-icon{
  display: flex;
  position: absolute;
  top: -12px;
  left: -8px;
  z-index: -1;
  @include mq(md){
    left: -40px;
  }
}
.c-works-testimonial__col{
  img{
    border-radius: 0.5rem;
  }
  video{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
    pointer-events: none;
  }
}
.c-section--related-work{
  padding-top: 0;
  @include mq(lg){
    padding-bottom: 9.5em;
    padding-top: 3rem;
  }
  .c-project__title{
    @include mq(lg){
      @include font-size(32px, 1.18);
    }
  }
  .c-project__text{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    position: relative;
  }
}
.c-related-work{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @include mq(md){
    grid-template-columns: 1.3fr 1fr;
    align-items: flex-end;
    gap: 2rem;
  }
  @include mq(lg){
    grid-template-columns: 2fr 1fr;
  }
}
.c-related-work__col{
  .c-project__img{
    margin-bottom: 0;
  }
  &.is-media-both{
    .gatsby-image-wrapper{
        z-index: 1;
        opacity: 1;
        transition: opacity .25s ease-in-out;
    }
    &:hover{
        .gatsby-image-wrapper{
            opacity: 0;
        }
    }
  }
}
.c-section--talk{
  padding-bottom: 4rem;
  padding-top: 0.875rem;
  @include mq(lg){
    padding-bottom: 6rem;
    padding-top: 1.625rem;
  }
}
.c-talk{
  padding: 3rem 0;
  border-top: 1px solid var(--color-primary-t);
  border-bottom: 1px solid var(--color-primary-t);
  @include mq(md){
    padding: 4rem 0;
  }
}
.c-talk__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 786px;
  margin: 0 auto;
}
.c-talk__title{
  font-family: $sentient;
  @include font-size(32px, 1.18);
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  margin: 0 0 0.5rem;
  @include mq(md){
    @include font-size(48px, 1.2);
  }
}
.c-talk__text{
  @include font-size(23px, 1.4);
  font-family: $inter;
  text-align: center;
  font-weight: 400;
  margin: 0 0 2rem;
}