.c-table-of-content {
  background: var(--color-white);
  position: fixed;
  width: 100%;
  top: 0;

  @include mq(md) {
    position: static;
    background: none;
  }

  &.is-hide {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &.up-to-down {
    top: 0rem;

    @include mq(md) {
      top: 1rem;
    }
  }

  &.down-to-up {
    top: calc(71.06px);

    @include mq(md) {
      top: calc(72px + 1rem);
    }
  }

  &.is-sticky {
    position: fixed;

    @include mq(md) {
      position: sticky;
      width: auto;
    }
  }

  .c-table-of-content__title {
    background: var(--Neutral-Cultred, #f2f3f3);
    height: 3rem;
    color: var(--Text-Dark-Jungle-Green, #002729);
    font-family: $inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35; /* 1.0125rem */
    letter-spacing: 0.0225rem;
    text-transform: uppercase;
    color: var(--Text-Dark-Jungle-Green, #002729);
    margin: 0;
    display: flex;
    align-items: center;
    padding-inline: 1.25rem;
    justify-content: space-between;
    cursor: pointer;

    @include mq(md) {
      background: none;
      color: #798686;
      /* General Typography/xxSmall (12px) - Desktop/xxSmallText - SemiBold UC (12px) */
      margin-block: 0 1rem;
      height: auto;
      display: block;
      padding-inline: 0;
      cursor: default;

      svg {
        display: none;
      }
    }
  }

  .c-table-of-content__list {
    list-style: none;
    position: relative;
    margin-block: 0;
    padding: 1.25rem 1rem;
    overflow: auto;

    @include mq(md) {
      padding: 0;
      overflow: unset;
    }
  }

  .c-table-of-content__item {
    // display: flex;
    padding: 0.5rem 0;
    color: #798686;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
    position: relative;
    cursor: pointer;
    font-family: $inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
    padding-right: 0.66rem;

    @include mq(md) {
      padding-right: 0;
    }

    &.is-active {
      background: var(--color-primary-h);
      color: var(--color-primary-sh);

      span {
        & > svg.dot-icon {
          & > rect:not(.no-change-rect) {
            fill: var(--color-primary-sh);
          }
        }
      }
    }

    &:hover {
      background-color: var(--color-cultred);
      color: var(--color-text);

      span {
        & > svg.dot-icon {
          & > rect:not(.no-change-rect) {
            fill: var(--color-text);
          }
        }
      }
    }

    span {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > svg.chevron {
        display: block;
        padding: 5px;
        box-sizing: content-box;

        @include mq(md) {
          display: none;
        }
      }

      & > svg.dot-icon {
        position: absolute;
        left: -16px;
        top: calc(50% - 3px);
        width: 6px; /* Adjust size as needed */
        height: 6px; /* Adjust size as needed */

        & > rect:not(.no-change-rect) {
          fill: #798686;
        }
        // background: url('data:image/svg+xml;utf8,<svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="6" height="6" rx="3" fill="%23798686"/></svg>')
        //   no-repeat center center;
        // background-size: contain;
      }
    }
  }

  .c-table-of-content__separator {
    margin-block: 1rem;
    border: 0.0625rem solid #d7dbdb;
  }
}

.collapsible {
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  overflow: hidden;
  max-height: 100vh;
}

.collapsible-on-mobile {
  transition: height 0.3s ease-out, padding 0.3s ease-out;
  overflow: hidden;
  height: calc(100vh - 3rem);

  @include mq(md) {
    transition: none;
    overflow: unset;
    height: auto;
  }

  @include mq(0em, md) {
    &.is-collapsed {
      height: 0;
      padding: 0;
    }
  }
}

html.no-scroll {
  overflow: hidden;
}

.chevron {
  transition: all ease 0.5s;

  &.chevron-down {
    transform: rotate(180deg);
    transition: all ease 0.5s;
  }
}
