.c-section--team {
    padding: 3em 0;

    @include mq(md) {
        padding: 9.75em 0;
    }
}

.c-team {
    .c-section__title {
        margin-bottom: 16px;

        @include mq(md) {
            margin-bottom: 64px;
        }
    }
}

.c-team__description {
    font-family: $inter;
    font-weight: 400;
    @include font-size(18px, 1.56);
    color: var(--color-primary-r);
    margin-bottom: 1.777777777777778em;

    @include mq(md) {
        @include font-size(23px, 1.48);
        margin-bottom: 3.478260869565217em;
        max-width: 34.260869565217391em;
    }
    a{
        color: var(--color-primary-s);
        transition: all 0.25s ease-in-out;
        text-decoration: none;
    
        &:hover {
          color: var(--color-primary-l);
        }
    }
}

.c-team__users {
    display: flex;
    flex-direction: column;
    gap: 0 2.5em;

    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.c-team__user {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @include mq(md) {
        flex: 21.5625em;
        max-width: 21.5625em;
    }

    @include mq($until: md) {
        margin: 0 0 2.5em;

        &:last-of-type {
            margin: 0;
        }
    }
}

.c-team__photo {
    display: flex;
    margin-bottom: 1.5em;
    overflow: hidden;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(md) {
        margin-bottom: 2em;
    }

    img {
        max-width: 100%;
        min-height: auto;
        user-drag: none;
        user-select: none;
        object-fit: cover;
        transition: transform 1.5s cubic-bezier(.19,1,.22,1), opacity .75s cubic-bezier(.19,1,.22,1);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}

.c-team__name {
    margin: 0;
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    @include font-size(18px, 1.5);
    color: var(--color-text);
    margin-bottom: 8px;

    @include mq(md) {
        @include font-size(23px, 1.48);
    }
}

.c-team__position {
    font-family: $inter;
    font-weight: 400;
    @include font-size(14px, 1.57);
    color: var(--color-grey);

    @include mq(md) {
        @include font-size(16px, 1.5);
    }
}