.c-section--testimonials {
    padding: 3rem 0;
    background: var(--color-primary-h);

    @include mq(md) {
        padding: 10rem 0 5rem;
    }
		.slick-dots{
			bottom: -31px;
			@include mq(md){
				bottom: -47px;
			}
			li{
				width: 22px;
				height: 7px;
				button{
					width: 22px;
					height: 7px;
					border-radius: 4px;
					padding: 0;
					background: var(--color-grey);
				}
				&.slick-active{
					button{
						background: var(--color-primary-sh);
					}
				}
			}
		}
}

.c-testimonials__items {
    max-width: 934px;
    margin: 0 auto;
    padding: 0 0 1px;
}

.c-testimonials__item {
    width: 100%;
    padding: 0;
    margin-right: 1em;
    cursor: default;
    position: relative;
    &:active {
        cursor: grabbing;
    }
    div{
        position: relative;
        z-index: 1;
    }
}

.c-testimonials__text {
    font-family: $inter;
    font-weight: 600;
    @include font-size(28px, 1.14);
		text-align: left;
    color: var(--color-text);
    position: relative;
    margin: 0 0 1.5rem;
		span{
			color: var(--color-primary-sh);
		}
    @include mq(md) {
        @include font-size(40px, 1.2);
				text-align: center;
        margin: 0 0 2.5rem;
    }
}

.c-testimonials__customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-customers__logo {
  display: flex;
	margin: 0;
}

.c-customers__name {
    font-family: $inter;
    font-weight: 400;
    @include font-size(16px, 1.5);
    color: var(--color-grey);
    margin-bottom: 0.5rem;
		span{
			font-weight: 600
		}
    @include mq(md) {
			@include font-size(19px, 1.47);
        margin-bottom: 1rem;
    }
}


.slick-dots {
    bottom: -2.375em;

    @include mq(md) {
        bottom: -3em;
    }
}


.slick-dots{
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
		li{
			position: relative;
			display: inline-block;
			width: 6px;
			height: 6px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			@include mq(md){
				width: 10px;
				height: 10px;
			}
			button{
				font-size: 0;
				line-height: 0;
				display: block;
				width: 6px;
				height: 6px;
				padding: 3px;
				border-radius: 50%;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: #C6F0C2;
				@include mq(md){
					width: 10px;
					height: 10px;
					padding: 5px;
			}
				&:hover, &:focus{
					outline: none;
					&:before{
						opacity: 1;
					}
				}
			}
			&.slick-active{
				button{
					background: #59CC51;
				}
			}
		}
}
