.c-section--tools{
  background-color: var(--color-white);
  padding: 1.5rem 0;
  @include mq(lg){
    padding: 3rem 0;
  }
  .c-section{
    margin: 0 0 2rem;
    @include mq(lg){
      margin: 0 0 2.5rem;
    }
  }
  .c-section__title{
    @media (max-width: 767px){
      @include font-size(28px, 1.2);
    }
  }
}
.c-tools__list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @include mq(md){
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2.5rem;
  }
}

.c-tools__wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  // height: 100%;
  justify-content: space-between;
  @include mq(lg){
    gap: 1.5rem;
  }
}
.c-tools-comingsoong{
  @include font-size(14px, 1.35);
  font-weight: 600;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--color-grey);
}
.c-tools__details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.c-tools-item__image{
  position: relative;
}
.c-tools-item__badge{
  position: absolute;
  left: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary-r);
  color: var(--color-white);
  font-family: $inter;
  padding: 6px 12px;
  height: 28px;
  @include font-size(12px, 1.83);
  font-weight: 600;
  letter-spacing: 0.24px;
  border-radius: 48px;
  text-transform: capitalize;
  @include mq(lg){
    left: 16px;
    top: 16px;
    height: 46px;
    padding: 12px 24px;
    @include font-size(14px, 1.57);
    letter-spacing: 0.28px;
    border-radius: 190px;
  }
}
.c-tools__item-title{
  font-family: $inter;
  @include font-size(18px, 1.5);
  font-weight: 600;
  color: var(--color-text);
  margin: 0 0 8px;
  @include mq(lg){
    @include font-size(23px, 1.47);
  }
  a{
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    &:hover{
      color: var(--color-primary-s);
    }
  
  }
}
.c-tools__item-desc{
  @include font-size(16px, 1.35);
  font-weight: 400;
  margin: 0;
  color: var(--color-grey);
  @include mq(lg){
    min-height: 44px;
  }
}
.c-tools-item__cta{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  @include mq(sm){
    gap: 1rem;
  }
}
.c-btn--github{
  display: flex;
  align-items: center;
  height: 48px;
  gap: 12px;
  padding: 10px 24px;
  @include mq(lg){
    height: 64px;
  }
}
// .c-tools__item{
//   margin-bottom: 16px;
//   @include mq(lg){
//     margin-bottom: 80px;
//   }
// }
.c-header-landing__nav{
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  @include mq(md){
    gap: 32px;
  }
  li{
    a, button{
      display: flex;
      align-items: center;
      gap: 4px;
      font-family: $inter;
      @include font-size(14px, 1.57);
      font-weight: 600;
      letter-spacing: 0.28px;
      color: var(--color-white);
      text-decoration: none;
      transition: color 0.25s ease-in-out;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover{
        color: var(--color-primary-l);
      }
      @include mq(md){
        gap: 8px;
        @include font-size(16px, 1.5);
        letter-spacing: normal;
      }
    }
  }
}

.c-section--calltoaction{
  padding: 2rem 0 1.5rem;
  @include mq(lg){
    padding: 6rem 0 3rem;
  }
}
.c-calltoaction{
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(102deg, #E5F7E3 0%, rgba(229, 247, 227, 0.00) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  @include mq(lg){
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
  }
  .c-section__title{
    @include font-size(24px, 1.16);
    @include mq(lg){
      @include font-size(32px, 1.12);
      max-width: 510px;
    }
  }
  .c-btn{
    @include mq(lg){
      margin-left: auto;
    }
  }
}

.c-section--plugins{
  @include mq(lg){
    padding: 5rem 0;
  }
  .c-section{
    margin: 0 0 2rem;
    @include mq(lg){
      margin: 0 0 2.5rem;
    }
  }
  .c-section__title{
    @media (max-width: 767px){
      @include font-size(28px, 1.2);
    }
  }
}