.c-utm-builder{
  border: 1px solid #D7DBDB;
}
.c-utm-builder__tabs{
  display: flex;
  background-color: #F2F3F3;
  border-bottom: 1px solid #D7DBDB;
}
.c-utm-builder__tab{
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: $inter;
  color: #002729;
  font-weight: 400;
  @include font-size(16px, 1.5);
  height: 53px;
  width: 100%;
  z-index: 1;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &::after{
    content: '';
    display: block;
    opacity: 0;
    height: 67px;
    background-color: #fff;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: -1;
    border-top: 6px solid #59CC51;
    transition: opacity 0.25s ease-in-out;
  }
  &:hover{
    &::after{
      opacity: 1;
    }
  }
  @include mq(md){
    width: 231px;
  }
  @include mq(lg){
    @include font-size(23px, 1.47);
    height: 65px;
  }
  &.is-active{
    font-weight: 600;
    background-color: #fff;
    border-right: 1px solid #D7DBDB;
    border-left: 1px solid #D7DBDB;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
      @include mq(md){
        border-right: 1px solid #D7DBDB;
      }
    }
    &::after{
      opacity: 1;
    }
  }
}
.c-utm-builder__content{
  padding: 16px;
  @include mq(md){
    padding: 32px;
  }
  @include mq(lg){
    padding: 64px 50px;
  }
}
.c-utm-builder__title{
  font-family: $inter;
  @include font-size(18px, 1.44);
  font-weight: 600;
  color: #002729;
  margin: 0 0 24px;
  .is-utm-validator &{
    max-width: 903px;
  }
  @include mq(lg){
    @include font-size(28px, 1.5);
    margin: 0 0 48px;
  }
}
.c-utm-generator__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.c-utm-form__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  @include mq(md){
    gap: 8px;
  }
  label{
    font-family: $inter;
    font-weight: 500;
    @include font-size(14px, 2);
    color: #002729;
    @include mq(md){
      @include font-size(16px, 1.5);
      font-weight: 600;
    }
  }
  input{
    border: 1px solid #798686;  
    border-radius: 4px;
    padding: 16px;
    height: 48px;
    @include font-size(16px, 1.5);
    color: #002729;
    background-color: #fff;
    outline: none;
    width: 100%;
    &:focus,
    &:active{
      border: 2px solid #002729;
    }
    @include mq(lg){
      height: 64px;
    }
  }
  &.is-error{
    input{
      border-color: #9E1414;
    }
  }
  .error{
    @include font-size(16px, 1.5);
    font-weight: 400;
    font-family: $inter;
    color: #9E1414;
  }
}
.c-utm-field__text{
  color: #798686;
  @include font-size(13px, 1.53);
  font-weight: 400;
  font-family: $inter;
  margin: 0;
  @include mq(md){
    @include font-size(14px, 1.42);
  }
}
.c-btn--utm{
  align-items: center;
  border-radius: 4px;
  height: 48px;
  gap: 0;
  @include mq(lg){
    height: 64px;
    padding: 0 32px;
  }
  .c-btn-icon svg{
    width: 1.5rem !important;
  }
}
.c-utm-builder__row{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  @include mq(lg){
    flex-direction: row;
    gap: 79px;
    margin-bottom: 48px;
  }
}
.c-utm-builder__col{
  width: 100%;
  &:first-child{
    @include mq(lg){
      max-width: 579px;
    }
  }
  &:last-child{
    @include mq(lg){
      max-width: calc(100% - 658px);
    }
  }
}
.c-utm-box{
  padding: 16px;
  border: 1px solid #798686;
  background-color: #F2F3F3;
  @include mq(md){
    padding: 32px;
  }
  @include mq(lg){
    padding: 40px;
  }
}
.c-utm-box__title{
  @include font-size(16px, 1.5);
  color: #002729;
  font-family: $inter;
  font-weight: 600;
  margin: 0 0 23px;
  @include mq(lg){
    @include font-size(28px, 1.5);
  }
}
.c-utm-box__generated{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  @include mq(md){
    flex-direction: row;
    gap: 19px;
  }
}
.c-utm-box__generated-item{
@media (max-width: 767px){
  width: 100%;
  .c-btn{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
  &:first-child{
    @include mq(md){
      flex: 1;
    }
  }
  input{
    border-radius: 4px;
    padding: 16px;
    height: 48px;
    @include font-size(16px, 1.5);
    background-color: #fff;
    outline: none;
    width: 100%;
    color: #798686;
    border: 2px solid #002729;
    cursor: not-allowed;
    @include mq(lg){
      height: 64px;
    }
  }
}

.c-utm-validate__err{
  display: none;
  font-family: $inter;
  font-weight: bold;
  @include font-size(14px, 1.4);
  a{
    color: #664819;
    transition: color 0.25s ease-in-out;
    &:hover{
      color: darken(#664819, 10%);
    }
  }
  &.is-text{
    @include font-size(13px, 1.4);
    font-weight: 400;
  }
}
.c-utm-validate-box{
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  padding: 16px;
  border: 2px solid #798686;
  background-color: #F2F3F3;
  &.is-valid{
    border-color: #C6F0C2;
    background-color: #E5F7E3;
    .c-utm-validate__text{
      display: block;
    }
  }
  &.is-invalid{
    background-color: #F0DEC2;
    border-color: #664819;
    .c-utm-validate__text{
      display: none;
    }
    .c-utm-validate__err{
      display: block;
      color: #664819;
    }
    .c-utm-validate__channel{
      color: #664819;
    }
  }
  &.is-pending{
    background-color: #F2F3F3;
    border-color: #798686;
    .c-utm-validate__text{
      display: block;
    }
  }
  @include mq(md){
    padding: 24px;
    min-height: 110px;
  }
}
.c-utm-validate__text{
  display: none;
  @include font-size(14px, 1.4);
  color: #003233;
  font-weight: 600;
  margin: 0;
  &.is-text{
    @include font-size(13px, 1.4);
    font-weight: 400;
  }
}
.c-utm-validate__channel{
  font-family: $inter;
  @include font-size(18px, 1.44);
  font-weight: 600;
  color: #002729;
  margin: 0 0 4px;
  @include mq(md){
    @include font-size(23px, 1.47);
  }
}
.c-utm-validator{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 16px;
  @include mq(md){
    flex-direction: row;
    align-items: center;

  }
  .c-utm-form__items {
    width: 100%;
    &:first-child{
      width: 100%;
      @include mq(md){
        width: calc(100% - 159px);
      }
    }
    &:last-child{
      .c-btn--utm{
        width: 100%;
        text-align: center;
        justify-content: center;
      }
      @include mq(md){
        position: absolute;
        top: 32px;
        width: auto;
        right: 0;
        .c-btn--utm{
          width: auto;
        }
      }
    }
  }
}
.c-utm-validator__items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 8px;
  height: 40px;
  border-bottom: 1px solid #D7DBDB;
  @include mq(md){
    grid-template-columns: auto 1fr;
    gap: 163px;
  }
  &:first-child{
    border-bottom: 2px solid #D7DBDB;
    .c-utm-validator__col{
      font-weight: 600;
    }
  }
  &.is-valid{
    background-color: #E5F7E3;
    .c-utm-validator__col{
      font-weight: 600;
      color: #2E9E62;
    }
  }
  &.is-invalid{
    background-color: #F0DEC2;
    .c-utm-validator__col{
      font-weight: 600;
      color: #664819;
    }
  }
  &:last-child{
    border-bottom: none;
  }

}
.c-utm-validator__col{
  width: 100%;
  display: flex;
  align-items: center;
  @include font-size(14px, 1.4);
  font-weight: 600;
  color: #003233;
  @include mq(md){
    width: 200px;
  }
  &:last-child{
    font-weight: 400;
  }
}
.c-utm-validator__results{
  display: none;
  margin-top: 24px;
  @include mq(lg){
    margin-top: 48px;
  }
  &.has-valid-url{
    display: block;
  }
}
.c-section--utm-builder{
  padding: 48px 0;
  overflow: initial;
  @include mq(lg){
    padding: 80px 0;
  }
}
.c-section--text{
  padding: 0 0 24px;
  @include mq(lg){
    padding: 0 0 48px;
  }
  .s-content h4:first-child{
    padding-top: 0;
  }
  .o-section__wrapper{
    max-width: 730px;
  }
  &.is-section--table{
    .o-section__wrapper{
      max-width: 1120px;
    }
  }
  &.is-section--final{
    padding: 0 0 48px;
    @include mq(lg){
      padding: 0 0 80px;
    }
  }
}

.c-table{
  padding: 16px;
  border: 4px solid #D7DBDB;
  @include mq(lg){
    padding: 64px;
  }
}
.c-table__title{
  @include font-size(16px, 1.5);
  color: #002729;
  margin: 0 0 8px;
  font-weight: 600;
  @include mq(lg){
    margin: 0 0 16px;
    @include font-size(23px, 1.47);
  }
}
.c-table__description{
  @include font-size(14px, 1.5);
  color: #798686;
  margin: 0 0 16px;
  font-weight: 400;
  @include mq(lg){
    margin: 0 0 48px;
    @include font-size(19px, 1.47);
  }
}
.c-table__content{
  table-layout: auto;
  border-collapse: collapse;
  background: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  position: relative;
  thead{
    border-bottom: 2px solid #D7DBDB;
    @media (max-width: 767px){
      display: none;
    }
    th{
      font-family: $inter;
      @include font-size(14px, 1.42);
      font-weight: 600;
      color: #003233;
      text-align: left;
      padding-bottom: 8px;
    }
  }
  tbody{
    tr{
      border-bottom: 1px solid #D7DBDB;
      &:last-child{
        border-bottom: none;
      }
      @media (max-width: 767px){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }
    }
    td{
      @include font-size(12px, 1.35);
      font-weight: 400;
      text-align: left;
      color: #003233;
      font-family: $inter;
      padding: 12px 0;
      vertical-align: top;
      &::before{
        display: flex;
        align-items: center;
        content: attr(data-label);
        padding-right: 42px;
        width: 115px;
        text-align: left;
        font-family: $inter;
        @include font-size(12px, 1.35);
        font-weight: 600;
        color: #003233;
        @include mq(sm){
          @include font-size(14px, 1.42);
        }
        @include mq(md){
          display: none;
        }
      }
      @include mq(md){
        width: 180px;
        &:last-child{
          width: 374px;
        }
      }
      @include mq(sm){
        @include font-size(16px, 1.5);
      }
      @media (max-width: 767px){
        display: flex;
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}
.c-table-parameter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  span{
    @include font-size(12px, 1.35);
    @include mq(sm){
      @include font-size(13px, 1.5);
    }
  }
}

.c-section--faqs{
  background-color: #E5F7E3;
  padding: 48px 0;
  @include mq(lg){
    padding: 80px 0;
  }
  .c-section--center{
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    @include mq(lg){
      margin-bottom: 40px;
    }
  }
  &.is-beehiiv{
    padding: 1.5rem 0 3rem;
    @include mq(lg){
      padding: 5rem 0 10rem;
    }
    .c-section__title{
      font-family: $inter;
      font-weight: 600;
    }
    .c-section--center{
      margin-bottom: 1.5rem;
      @include mq(lg){
        margin-bottom: 2.5rem;
      }
    }
    .c-faq__items{
      padding: 1rem;
      &.is-active{
        padding: 1rem;
      }
    }
  }
}

.c-faqs{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 766px;
  margin: 0 auto;
}
.c-faq__items{
  padding: 8px 16px;
  transition: background-color 0.25s ease-in-out, padding 0.25s ease-in-out;
  @include mq(md){
    padding: 16px 24px;
  }
  &.is-active{
    background-color: #fff;
    padding: 16px;
    @include mq(md){
      padding: 24px;
    }
  }

}
.c-faq__question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $inter;
  font-weight: 600;
  @include font-size(14px, 1.57);
  color: #002729;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @include mq(md){
    @include font-size(19px, 1.47);
  }
}
.c-faq__question span{
  max-width: calc(100% - 40px);
  text-align: left;
}

.c-faq-icon{
  position: relative;
  display: flex;
  align-items: center;
}
.c-faq__question .icon-more{
  transition: transform 0.25s ease-out;
}
.c-faq__question.is-active .icon-more{
  transform: rotate(180deg);
}
.c-faq__question .icon-more path:last-child {
  opacity: 0;
}
.c-faq__question.is-active .icon-more path:first-child {
  opacity: 0;
}
.c-faq__question.is-active .icon-more path:last-child {
  opacity: 1;
}

.c-faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin-top 0.2s ease-out;
  font-family: $inter;
  font-weight: 400;
  @include font-size(14px, 1.57);
  .is-active &{
    margin-top: 16px;
  }
  @include mq(md){
    @include font-size(19px, 1.47);
  }
  a {
    color: var(--color-text);
    transition: all 0.25s ease-in-out;
    text-decoration: underline;

    &:hover {
      color: var(--color-primary-n);
    }
  }
}