.c-section--footer {
    padding: 2.25em 0 2.125em;
    background: var(--color-primary-r);
    overflow: hidden;
    margin: -1px 0;

    @include mq(md) {
        padding: 4em 0 7.8125em;
    }
}

.c-footer {
    display: flex;
    flex-direction: column;
}

.c-footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 1.5em;

    @include mq(md) {
        flex-direction: row;
        margin: 0 0 2em;
        align-items: flex-end;
    }
}

.c-footer__col {
    margin: 0 0 0.5em;

    &:first-of-type {
        margin: 0;
    }

    @include mq(md) {
        margin: 0;
    }
}

.c-footer__text {
    font-family: $inter;
    font-weight: 400;
    @include font-size(14px, 1.57);
    color: var(--color-white);
    margin-bottom: 12px;
    
    @include mq(md) {
        max-width: 13.125em;
        @include font-size(16px, 1.5);
        margin-bottom: 18px;
    }

    span {
        display: none;

        @include mq(md) {
            display: inline-flex;
        }
    }
}

.c-footer__logos {
    display: flex;
    margin-bottom: 22px;

    @include mq(md) {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .c-link {
        margin: 0 1.5em 0 0;

        @include mq(md) {
            margin: 0 2.5em 0 0;
        }

        &:last-of-type {
            margin: 0;
        }
    }

    .c-footer__logos--clu {
        width: 54.71px;
        height: 31px;

        @include mq(md) {
            width: 90px;
            height: 51px;
        }
    }

    .c-footer__logos--bbb {
        width: 80.84px;
        height: 28.57px;

        @include mq(md) {
            width: 133px;
            height: 47px;
        }
    }
}

.c-footer__menu {
    display: flex;
    
    @include mq(md) {
        justify-content: flex-end;
        // min-width: 20.9375em;
    }
}

.c-footer__links {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 4.625em 0 0;
    padding: 0;
    gap: 16px;
    @include mq(md) {
        margin: 0;
    }

    &:last-of-type {
        margin: 0;
    }

    li {
        margin: 0;

        &:last-of-type {
            margin: 0;
        }

        a, .c-btn-link {
            display: flex;
            align-items: center;
            font-family: $inter;
            font-weight: 400;
            @include font-size(16px, 1.5);
            color: var(--color-white);
            text-decoration: none;
            transition: color .25s linear 0s;
            &:hover {
                color: var(--color-primary-l);
                path {
                    fill: var(--color-primary-l);
                }
            }

            svg {
                width: 16px;
                margin: 0 .75em 0 0;

                @include mq(md) {
                    width: 24px;
                }
            }

            path {
                transition: fill .25s linear 0s;
            }
        }
        .c-btn-link{
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
        }
    }
}

.c-footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--color-primary-sh);
    padding-top: 1.5em;
    font-family: $inter;
    font-weight: 600;
    @include font-size(13px, 1.54);
    color: var(--color-white-80);

    @include mq(sm) {
        padding-top: 2.5em;
        flex-direction: row;
        align-items: center;
        font-weight: 400;
    }

    a {
        color: var(--color-white-80);
        font-weight: 400;
        @include font-size(14px, 1.57);

        @include mq(md) {
            @include font-size(13px, 1.57);
        }

        &:hover {
            color: var(--color-white);
        }
    }
}

.c-copyright__col {
    display: flex;
    align-items: center;
    margin: 0 0 24px;
    &:last-of-type {
        margin: 0;
    }
    span{
        font-family: $inter;
        font-weight: 400;
        @include font-size(13px, 1.54);
        color: rgba(255, 255, 255, 0.8);
    }
    &:first-child{
        flex-direction: column;
        align-items: flex-start;
        svg{
            margin: 0;
        }
        @include mq(md){
            align-items: center;
        }
    }
    @include mq(sm) {
        &:first-child{
            flex-direction: row;
            svg {
                margin: 0 1.5em 0 0;
            }
        }
        margin: 0;
    }
}

.c-logo{
    display: flex;
    margin: 0 0 8px;
    @include mq(md){
        margin: 0;
    }
}