.c-section--footer {
    padding: 4rem 0 3rem;
    background: var(--color-primary-r);
    overflow: hidden;
    margin: -1px 0;

    @include mq(md) {
        padding: 5rem 0 3rem;
    }

    .c-btn{
        padding: 0.6574rem 1.875rem;
        width: 100%;
        letter-spacing: 0.42px;
        text-align: center;
        justify-content: center;
        @include mq(sm){
            width: auto;
        }
        @include mq(md){
            letter-spacing: normal;
            padding: 0.75em 2em;
            width: auto;
        }
    }
}

.c-footer {
    display: flex;
    flex-direction: column;
}

.c-footer__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "cta" "nav";
    gap: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5f7e333;
    @include mq(md){
        margin-bottom: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav cta";
    }
}
.c-footer__col{
    &:first-child{
        grid-area: nav;
    }
    &:last-child{
        grid-area: cta;
    }
}

.c-footer-cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @include mq(md){
        max-width: 28.1875rem;
        margin-left: auto;
    }
}

.s-footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.75rem;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @include mq(md){
        max-width: 22rem;
    }
    li{
        display: flex;
        &:last-child{
            grid-column: span 2;
        }
        a{
            display: flex;
            align-items: center;
            font-family: $inter;
            font-weight: 400;
            @include font-size(16px, 1.5);
            color: var(--color-white);
            text-decoration: none;
            transition: color .25s linear 0s;
            &:hover {
                color: var(--color-primary-l);
                path {
                    fill: var(--color-primary-l);
                }
            }

            svg {
                width: 16px;
                margin: 0 .75em 0 0;

                @include mq(md) {
                    width: 24px;
                }
            }

            path {
                transition: fill .25s linear 0s;
            }
        }
    }
}


.c-footer-cta__title{
    @include font-size(32px, 1);
    margin: 0 0 0.5rem;
    color: var(--color-white);
    font-family: $inter;
    font-weight: 600;
    text-transform: initial;
}
.c-footer-cta__text{
    @include font-size(16px, 1.35);
    margin: 0 0 1.5rem;
    color: var(--color-primary-h);
    font-family: $inter;
    font-weight: 400;
    @include mq(md){
        margin: 0 0 2rem;
    }
}

.c-footer__copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 1.5rem;
    @include mq(md){
        flex-direction: row;
    }
}
.c-copyright__col{
    .c-logo{
        a{
            display: flex;
        }
    }
    span{
        @include font-size(13px, 1.54);
        font-weight: 400;
        color: var(--color-white-80);
        font-family: $inter;
    }
    &:first-child{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        @include mq(sm){
            flex-direction: row;

        }
    }
    &.has-badges{
        @media (max-width: 767px){
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: 1rem;
            border-bottom: 1px solid #e5f7e333;
        }

    }
}
.c-footer__badges{
    display: flex;
    align-items: center;
    gap: 0.875rem;
    .clutch-widget{
        display: flex;
        width: 100%;
        position: relative;
        padding: 0.35rem;
        border-radius: 4px;
        background-color: var(--color-white);
        // transform: scale(0.7);
        // transform-origin: right center;
    }
    a{
        display: flex;
    }
}
.c-footer-clutch-wrapper{
    display: inline-block; /* or use display: flex; align-items: center; if you have more elements */
  overflow: hidden;
  width: 203px; 
  transform: scale(0.7);
  transform-origin: center;
  margin: 0 -1.75rem;
  
}
.c-float-btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--color-primary-sh);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 63px;
    width: 253px;
    padding: 0;
    @include font-size(16px, 1);
    font-weight: 600;
    border-radius: 94.5px;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, width 0.25s ease-in-out;
    transition: 0.4s;
    z-index: 1000;
    box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.12);
    @include mq(md){
        right: 1.5rem;
        bottom: 1.5rem;
    }
    @include mq(lg){
        right: 2.5rem;
        bottom: 2.5rem;
    }
    &:hover{
        background-color: var(--color-primary-t);
        color: var(--color-primary-r);
    }
    &.has-hide-text{
        width: 63px;
        .c-float-btn__text{
            display: none;
        }
        &:hover{
            width: 253px;
            background-color: var(--color-primary-sh);
            color: var(--color-white);
            .c-float-btn__text{
                display: inline;
            }
        }
    }
}
.c-float-btn__icon{
    display: flex;
}
.c-float-btn__text{
    display: inline;
    white-space: nowrap;
}