.c-section--header {
    background-color: var(--color-primary-r);
    padding: 1em 0;
    position: relative;
    margin: 0 0 -1px;
    transition: background-color 0.25s ease-in-out;
    z-index: 9999;
    &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: var(--color-white);
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }
    &::after{
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: var(--color-cultred);
        top: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }
    @media (max-width: 767px){
        z-index: 9999;
        transition: background-color 0.25s ease-in-out;
        &::before, &::after{
            display: none;
        }
    }
    @include mq(md) {
        padding: 2em 0;
    }
    
    .o-section__wrapper {
        max-width: calc(1440px - 2em);
    }
    &.is-active{
        background-color: var(--color-white);
        &::before, &::after{
            opacity: 1;
        }
        @media (max-width: 767px){
            background-color: var(--color-white);
        }
        .c-header__logo{
            svg{
                g{
                    fill: var(--color-primary-r);
                }
            }
        }
        .c-hamburger__icon{
            background: var(--color-primary-r);
        }
    }
}

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999999;
}

.c-header__logo {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    svg {
        width: 100px;
        g{
            transition: fill 0.25s ease-in-out;
        }
        .is-landing &{
            width: 86px;
        }
        @include mq(md) {
           width: 104px;
           .is-landing &{
                width: 104px;
            }
        }
    }
}

.c-link--logo{
    display: flex;
    align-items: center;
}

.c-header__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    flex: 1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -200%);
    transition: transform .55s cubic-bezier(0.77,0.2,0.05,1);
    list-style: none;
    background: var(--color-white);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 9999;
  
    &.is-open {
        transform: translate(0, 0);
    }

    &.is-fixed {
        overflow: hidden;
    }
    @include mq(md){
        flex-direction: row;
        justify-content: center;
    }
    // @include mq(md) {
    //     position: unset;
    //     top: auto;
    //     width: auto;
    //     height: auto !important;
    //     padding: 0;
    //     transform: none;
    //     background: transparent;
    //     overflow: initial !important;
    //     z-index: 1;
    //     justify-content: normal;

    //     &.is-open {
    //         transform: none;
    //     }
    // }
}
.c-header-wrap__col{
    width: 100%;
    display: flex;
    flex-direction: column;
    &:last-child{
        background-color: var(--color-cultred);
    }
    @include mq(md){
        width: 50%;
        height: 100vh;
        flex-grow: 1;
    }
}
.c-header-wrap__inner{
    padding: 84px 16px 48px;
    width: 100%;
    margin: 0 auto;
    @include mq(md){
        max-width: 357px;
        padding: 126px 0 0;
    }
    @include mq(xl){
        margin-right: 204px;
        padding: 166px 0 0;
    }
}
.c-header-wrap__post{
    padding: 21px 21px 120px;
    margin: 0;
    background-color: var(--color-cultred);
    .c-header-wrap__text{
        margin-bottom: 24px;
    }
    @include mq(md){
        padding: 126px 16px 161px 40px;
        .c-header-wrap__text{
            margin-bottom: 32px;
        }
    }
    @include mq(xl){
        padding: 166px 16px 161px 90px;
    }
}
.c-header__project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 449px;
    width: 100%;
}
.s-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 0 0 24px;
    padding: 0 0 24px;
    list-style: none;
    border-bottom: 1px solid var(--color-gains);
    @media (min-width: 1800px){
        gap: 32px;
        margin: 0 0 32px;
        padding: 0 0 32px;
    }
    li {
        position: relative;
        margin: 0;

        a {
            color: var(--color-text);
            text-decoration: none;
            font-weight: 400;
            font-family: $sentient;
            @include font-size(32px, 1.18);
            position: relative;
            transition: color 0.25s ease-in-out;
            @include mq(lg) {
                @include font-size(48px, 1.2);
            }
        }
        
        &::before {
            content: '';
            position: absolute;
            width: 60px;
            height: 5px;
            background: var(--color-primary-s);
            top: 100%;
            left: 0;
            pointer-events: none;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.25s ease-in-out;
        }
        
        &:hover {
            a{
                color: var(--color-primary-s);
            }
            &::before {
                transform-origin: 0% 50%;
                transform: scale3d(1, 1, 1);
            }
        }

        &.current-menu-item {
            a{
                color: var(--color-primary-s);
            }
            &::before {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}

.s-nav--sub{
    gap: 16px;
    li{
        a{
            font-family: $inter;
            @include font-size(18px, 1.5);
            font-weight: 600;
            @include mq(lg){
                @include font-size(23px, 1.47);
            }
        }
        &::before {
            width: 24px;
            height: 3px;
        }
    }
}

.js-fixed-nav {
    position: fixed;
    top: -10.6875em;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
}

.js-fixed-animate {
    .c-section--header {
        top: 0;

        @include mq(md) {
            padding: 1.513em 0;
        }
    }

    &.admin-bar {
        .c-section--header {
            top: 2.875em;

            @include mq(md) {
                top: 2em;
            }
        }
    }
}

.c-header-wrap__text{
    @include font-size(12px, 2);
    font-family: $inter;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-grey);
    margin: 0 0 16px;
    @include mq(xl){
        @include font-size(13px, 1.84);
        margin: 0 0 32px;
    }
}

.c-header-social{
    display: flex;
    align-items: flex-end;
    gap: 48px;
}
.c-header-social__wrap{
    display: flex;
    align-items: center;
    gap: 24px;
    .c-link{
        color: var(--color-text);
        &:hover{
            color: var(--color-primary-s);
        }
    }
}