.o-section {
  padding: 3.125em 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include mq(desktop) {
    padding: 4.375em 0;
  }
}

.o-section__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;

  @include mq(lg) { 
    max-width: calc(1192px - 2em);
  }
}
