@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(../fonts/Inter-400.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url(../fonts/Inter-600.woff2) format('woff2');
}

@font-face {
    font-family: 'Sentient';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(../fonts/Sentient.woff2) format('woff2'),
         url(../fonts/Sentient.woff) format('woff');
}