:root {
  --color-primary-r: #003233;
  --color-primary-sh: #2e9e62;
  --color-primary-s: #31a329;
  --color-primary-l: #59cc51;
  --color-primary-t: #c6f0c2;
  --color-primary-h: #e5f7e3;
  --color-secondary-d: #00242c;
  --color-secondary-t: #0d5cac;
  --color-text: #002729;
  --color-red: #9e1414;
  --color-grey: #798686;
  --color-gains: #d7dbdb;
  --color-cultred: #f2f3f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-80: rgba(255, 255, 255, 0.8);
}
